02. Baixar e enviar arquivo do Google Drive.json
{
  "name": "02. Baixar e enviar arquivo do Google Drive",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dda3d7-4505-4d03-b70f-63f5c005c0c3",
              "name": "resultado",
              "value": "=ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        704
      ],
      "id": "80337f8f-a805-4bb2-80e5-615df14484fa",
      "name": "Output"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_id"
            },
            {
              "name": "contact_id"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "api_key"
            },
            {
              "name": "source"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        272,
        704
      ],
      "id": "c44586b6-67c6-409f-afdf-115d39c0b987",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "content": "## Baixar e enviar arquivo",
        "height": 388,
        "width": 1324,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        592
      ],
      "typeVersion": 1,
      "id": "5416935d-a3db-4c8f-bdde-1c9d623a367d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2416,
        928
      ],
      "id": "a97b93ab-bf2d-4709-8541-c832b046db07",
      "name": "Baixar arquivo1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dda3d7-4505-4d03-b70f-63f5c005c0c3",
              "name": "resultado",
              "value": "=ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        928
      ],
      "id": "c724cdfc-3972-48aa-a012-e9d7dd3921d8",
      "name": "Output1"
    },
    {
      "parameters": {
        "content": "## Baixar e enviar arquivo",
        "height": 324,
        "width": 1116,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        832
      ],
      "typeVersion": 1,
      "id": "ec9f35a5-3223-44ac-8ef7-ae02c24b8391",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/medias/upload-file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "locationId",
              "value": "cd1uyzpJox6XPt4Vct8Y"
            },
            {
              "name": "contactId",
              "value": "={{ $json.contact_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        704
      ],
      "id": "f6c354e7-a352-446e-8cc1-02e0e71d94a8",
      "name": "Upload para GHL"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "whatsapp",
                    "rightValue": "={{ $('Gatilho').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "352c182d-185b-4c4f-a3f3-75d44c4677a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "instagram",
                    "rightValue": "={{ $('Gatilho').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        944,
        704
      ],
      "id": "0a67dc96-1e1d-443b-b21e-af61bf03f2a0",
      "name": "Canal1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        704
      ],
      "id": "d2bcd726-5662-4724-a0d5-2686480afa61",
      "name": "Baixar arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gatilho').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Gatilho').item.json.contact_id }}\",\n  \"message\": \"📎 Arquivo enviado\",\n  \"attachments\": [\"{{ $json.url }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        800
      ],
      "id": "3183acf2-34c2-4bb4-9e4b-c5adb7bb949c",
      "name": "Instagram",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gatilho').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Gatilho').item.json.contact_id }}\",\n  \"message\": \"📎 Arquivo enviado\",\n  \"attachments\": [\"{{ $json.url }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        608
      ],
      "id": "3ece5c35-851b-41c7-b911-0dc91da7b07a",
      "name": "Whatsapp",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/medias/upload-file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "locationId",
              "value": "cd1uyzpJox6XPt4Vct8Y"
            },
            {
              "name": "contactId",
              "value": "={{ $json.contact_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        928
      ],
      "id": "0730f1a4-d5c7-4f70-a969-2aa217a92e57",
      "name": "Upload para GHL1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "whatsapp",
                    "rightValue": "={{ $('Gatilho').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "352c182d-185b-4c4f-a3f3-75d44c4677a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "instagram",
                    "rightValue": "={{ $('Gatilho').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2864,
        928
      ],
      "id": "39d95499-46ea-45f5-8391-b9971cb906c7",
      "name": "Canal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gatilho').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Gatilho').item.json.contact_id }}\",\n  \"message\": \"📎 Arquivo enviado\",\n  \"attachments\": [\"{{ $json.url }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        1024
      ],
      "id": "e8f5c67b-fb66-4e76-beb8-431e838d316d",
      "name": "Instagram1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gatilho').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Gatilho').item.json.contact_id }}\",\n  \"message\": \"📎 Arquivo enviado\",\n  \"attachments\": [\"{{ $json.url }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        832
      ],
      "id": "df2a94aa-cc0f-4fd5-9a50-023630c46b03",
      "name": "Whatsapp1",
      "retryOnFail": true
    }
  ],
  "pinData": {
    "Gatilho": [
      {
        "json": {
          "file_id": "107H6MtbdCRTCpC3pxCeq1_4e1CKWRcKf",
          "contact_id": "vjLP5amnYJNxzjQTVAu7",
          "id_conversa": "SAGAyX3515B3Jrk5y6ZK",
          "api_key": "pit-fe627027-b9cb-4ea3-aaa4-149459e66a03",
          "source": "whatsapp"
        }
      }
    ]
  },
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Baixar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar arquivo1": {
      "main": [
        [
          {
            "node": "Upload para GHL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload para GHL": {
      "main": [
        [
          {
            "node": "Canal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal1": {
      "main": [
        [
          {
            "node": "Whatsapp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar arquivo": {
      "main": [
        [
          {
            "node": "Upload para GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload para GHL1": {
      "main": [
        [
          {
            "node": "Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal": {
      "main": [
        [
          {
            "node": "Whatsapp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram1": {
      "main": [
        [
          {
            "node": "Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp1": {
      "main": [
        [
          {
            "node": "Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0141aa7-fdf3-4377-9953-c70cec808307",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "si0lxAyvbgKOoO0g",
  "tags": []
}