06.1 Integração Supabase.json
{
  "name": "06.1 Integração Supabase",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cobranca_valor"
            },
            {
              "name": "cobranca_vencimento"
            },
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "cpf"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_contato"
            },
            {
              "name": "asaas_id_cliente"
            },
            {
              "name": "asaas_id_cobranca"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "url_asaas"
            },
            {
              "name": "api_key"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1488,
        928
      ],
      "id": "61e72be8-698d-444f-a8c5-fc17a8cfecac",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "732205dd-9ea0-4095-9069-48c30b056787",
              "leftValue": "={{ $('Gatilho').item.json.asaas_id_cobranca }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        928
      ],
      "id": "65424ed1-9ee5-4f2e-8e0a-7b3eae409b17",
      "name": "Cobrança já existe?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "732205dd-9ea0-4095-9069-48c30b056787",
              "leftValue": "={{ $('Gatilho').item.json.asaas_id_cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        928
      ],
      "id": "2c802594-991c-46c1-abf6-3a4c4e87e1ac",
      "name": "Cliente já existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Gatilho').item.json.nome }}"
            },
            {
              "name": "cpfCnpj",
              "value": "={{ $('Gatilho').item.json.cpf }}"
            },
            {
              "name": "mobilePhone",
              "value": "={{ $('Gatilho').item.json.telefone.replace(/^\\+55/, '') }}"
            },
            {
              "name": "externalReference",
              "value": "={{ $('Gatilho').item.json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        1056
      ],
      "id": "54715a40-0083-439d-81bf-de74597fd80a",
      "name": "Criar cliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bhueG2hGs9HShYG2",
          "name": "Asas - token de acesso - Marcos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $('Code in JavaScript').item.json.asaasId }}"
            },
            {
              "name": "billingType",
              "value": "=PIX"
            },
            {
              "name": "value",
              "value": "={{ $('Gatilho').item.json.cobranca_valor }}"
            },
            {
              "name": "dueDate",
              "value": "={{ $('Gatilho').item.json.cobranca_vencimento }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        928
      ],
      "id": "6e4971d5-a258-4779-8e63-d3170b171f3e",
      "name": "Criar cobrança",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bhueG2hGs9HShYG2",
          "name": "Asas - token de acesso - Marcos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd18e79e-4784-4aa3-9c8a-6e43241f712c",
              "name": "resultado",
              "value": "=Cobrança criada.",
              "type": "string"
            },
            {
              "id": "ad5ed334-a247-4533-b1a3-4c9366840048",
              "name": "valor",
              "value": "={{ $('Criar cobrança').item.json.value }}",
              "type": "string"
            },
            {
              "id": "e5a4770c-6799-48ac-b779-d95f5462ba83",
              "name": "vencimento",
              "value": "={{ $('Criar cobrança').item.json.dueDate }}",
              "type": "string"
            },
            {
              "id": "6c866d58-967b-41c8-bb70-1517ee8f6f83",
              "name": "link",
              "value": "={{ $('Criar cobrança').item.json.invoiceUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        928
      ],
      "id": "556c26e7-6c6b-4ba9-b4b5-e37e37a5c99e",
      "name": "Resultado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/payments/{{ $('Gatilho').item.json.asaas_id_cobranca }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        720
      ],
      "id": "6e3f7bb5-b5dc-4ca6-b4e2-b05d1f2fb17b",
      "name": "Buscar cobrança",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bhueG2hGs9HShYG2",
          "name": "Asas - token de acesso - Marcos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd18e79e-4784-4aa3-9c8a-6e43241f712c",
              "name": "resultado",
              "value": "=Cliente já possui cobrança criada.",
              "type": "string"
            },
            {
              "id": "ad5ed334-a247-4533-b1a3-4c9366840048",
              "name": "valor",
              "value": "={{ $('Buscar cobrança').item.json.value }}",
              "type": "string"
            },
            {
              "id": "e5a4770c-6799-48ac-b779-d95f5462ba83",
              "name": "vencimento",
              "value": "={{ $('Buscar cobrança').item.json.dueDate }}",
              "type": "string"
            },
            {
              "id": "6c866d58-967b-41c8-bb70-1517ee8f6f83",
              "name": "link",
              "value": "={{ $('Buscar cobrança').item.json.invoiceUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        720
      ],
      "id": "a518890f-99c4-462a-815e-c197fe66f845",
      "name": "Cliente já tem cobrança"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7dcd49b5-727a-4e92-915c-0ea01830b17d",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1104,
        1344
      ],
      "id": "376c1b5e-43e8-4ff5-bdbe-24365bffa609",
      "name": "Cobrança atualizada",
      "webhookId": "7dcd49b5-727a-4e92-915c-0ea01830b17d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "L6Dh9VWk5Pzrhoja",
          "name": "asas token 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"PENDING\": \"Pendente\",\n  \"RECEIVED\": \"Cobrança recebida\",\n  \"CONFIRMED\": \"Cobrança confirmada\",\n  \"OVERDUE\": \"Cobrança vencida\",\n  \"REFUNDED\": \"Cobrança estornada\",\n  \"RECEIVED_IN_CASH\": \"Cobrança recebida em dinheiro\",\n  \"REFUND_REQUESTED\": \"Solicitação de estorno\",\n  \"REFUND_IN_PROGRESS\": \"Estorno em andamento\",\n  \"CHARGEBACK_REQUESTED\": \"Recebido chargeback\",\n  \"CHARGEBACK_DISPUTE\": \"Em disputa de chargeback\",\n  \"AWAITING_CHARGEBACK_REVERSAL\": \"Disputa vencida\",\n  \"DUNNING_REQUESTED\": \"Requisição de negativação\",\n  \"DUNNING_RECEIVED\": \"Recebimento de negativação\",\n  \"AWAITING_RISK_ANALYSIS\": \"Aguardando análise de risco\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        1344
      ],
      "id": "acf1b6b2-0741-4849-86af-a1c91cae3c7b",
      "name": "Mapeamento status"
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        1264
      ],
      "typeVersion": 1,
      "id": "778e571d-691f-4a1c-85c2-330013c6422b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2191c687-2639-42a2-aaf6-b1e6bf064539",
              "leftValue": "={{ \n[\n  \"PAYMENT_CONFIRMED\",\n  \"PAYMENT_REFUNDED\",\n  \"PAYMENT_CHARGEBACK_REQUESTED\",\n  \"PAYMENT_AWAITING_CHARGEBACK_REVERSAL\",\n  \"PAYMENT_DUNNING_REQUESTED\",\n  \"PAYMENT_AWAITING_RISK_ANALYSIS\",\n  \"PAYMENT_RECEIVED\",\n  \"PAYMENT_OVERDUE\",\n  \"PAYMENT_REFUND_IN_PROGRESS\",\n  \"PAYMENT_CHARGEBACK_DISPUTE\",\n  \"PAYMENT_DUNNING_RECEIVED\"\n]\n}}",
              "rightValue": "={{ $('Cobrança atualizada').item.json.body.event }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        1344
      ],
      "id": "cb5e1aa7-3ec6-4514-b666-5c02a05f4cb6",
      "name": "Cobrança atualizada?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        1536
      ],
      "id": "31b8e843-d2fb-4571-8882-994a10e2552a",
      "name": "Evento ignorado"
    },
    {
      "parameters": {
        "errorMessage": "=Cobrança recebida de usuário não cadastrado.\n\nNome: {{ $('Buscar cliente Asaas').item.json.name }}\nTelefone: {{ $('Buscar cliente Asaas').item.json.mobilePhone }}\nCPF: {{ $('Buscar cliente Asaas').item.json.cpfCnpj }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2144,
        1520
      ],
      "id": "b58d182c-b9af-468d-9fc6-9a6663f60a0d",
      "name": "Usuário não cadastrado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea586fb4-8b58-410a-9e03-73fe95ab131d",
              "leftValue": "={{ $json.externalReference }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        1344
      ],
      "id": "3899d8a3-3aa3-437a-835c-62dd6bd652db",
      "name": "Usuário cadastrado?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae08e067-77ae-4dda-8836-06582b652d5b",
              "name": "api_key",
              "value": "={{ $json.body.customData.ghl_api_key }}",
              "type": "string"
            },
            {
              "id": "f7de1f05-e3ec-43a4-8c35-393e1d1c9e13",
              "name": "id_conta",
              "value": "1",
              "type": "string"
            },
            {
              "id": "c6782838-973c-4da6-881c-0e3056ac2e47",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "3540d6b2-13bf-4531-8c01-305e84f64989",
              "name": "payment_id",
              "value": "={{ $('Cobrança atualizada').item.json.body.payment.id }}",
              "type": "string"
            },
            {
              "id": "ae8fd23e-7d35-400a-85ed-e2e02cc4f1a7",
              "name": "customer_id",
              "value": "={{ $('Cobrança atualizada').item.json.body.payment.customer }}",
              "type": "string"
            },
            {
              "id": "26494914-8ae8-4b7a-8e32-70e039d8e824",
              "name": "status_cobranca",
              "value": "={{ $('Cobrança atualizada').item.json.body.payment.status }}",
              "type": "string"
            },
            {
              "id": "dcd07bc5-1516-4f8f-a54b-9a9fdcde33f3",
              "name": "location_id",
              "value": "={{ $json.body.location.id }}",
              "type": "string"
            },
            {
              "id": "1a87c591-da2a-472b-aa1b-6638f019211f",
              "name": "api_key",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        1344
      ],
      "id": "fb34f373-28ac-494d-bba8-b06433463073",
      "name": "Info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "522ff72f-ffea-4bb8-9ddd-55710495a5fb",
              "leftValue": "={{ $('Info').item.json.status_cobranca }}",
              "rightValue": "RECEIVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8ab4cad7-8abe-436f-8647-5acea4e562e9",
              "leftValue": "={{ $('Info').item.json.status_cobranca }}",
              "rightValue": "CONFIRMED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2736,
        1344
      ],
      "id": "a65f3043-2660-40d9-86c4-8e3d558cb65c",
      "name": "Pagamento recebido?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_asaas }}/v3/customers/{{ $('Info').item.json.customer_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        1344
      ],
      "id": "2786bdc2-5e3c-45d2-b342-62d5ca0d906d",
      "name": "Buscar cliente Asaas",
      "credentials": {
        "httpHeaderAuth": {
          "id": "L6Dh9VWk5Pzrhoja",
          "name": "asas token 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<confirmação de pagamento recebida no valor de R$ {{ $('Cobrança atualizada').item.json.body.payment.value }}>",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual da Clínica Moreira, responsável por notificar pacientes sobre confirmações de pagamento via WhatsApp. Sua única função é enviar uma mensagem cordial confirmando o recebimento do pagamento e relembrando os detalhes da consulta agendada.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Cordial e profissional**: Mantenha tom positivo e acolhedor\n  * **Objetiva**: Seja direta na confirmação sem ser fria\n  * **Tranquilizadora**: Transmita segurança sobre o processo\n  * **Atenciosa**: Relembre informações importantes da consulta\n</personalidade>\n\n# CONTEXTO DA TAREFA\n\n<contexto>\n  O sistema acaba de receber confirmação automática de pagamento de uma consulta. Você deve:\n  1. Confirmar o recebimento do pagamento\n  2. Relembrar data, horário e profissional da consulta\n  3. Fornecer informações básicas de comparecimento\n\n  **IMPORTANTE**: Esta é uma mensagem proativa - o paciente não enviou mensagem solicitando informação.\n</contexto>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. IDENTIFICAÇÃO DO CONTEXTO\n\n<identificacao-contexto>\n  ### 1.1 Análise da Conversa\n\n  1. Revise o histórico para identificar o agendamento relacionado\n  2. Identifique o profissional e agenda utilizados\n  3. Localize informações relevantes do paciente\n\n  ### 1.2 Validação de Dados\n\n  * Confirme que existe agendamento ativo\n</identificacao-contexto>\n\n## 2. BUSCA DE INFORMAÇÕES DO AGENDAMENTO\n\n<busca-agendamento>\n  ### 2.1 Execução da Busca\n\n  1. Use \"Buscar_agendamentos_do_contato\" com o ID da agenda identificado\n  2. Recupere:\n    * Data e horário da consulta\n    * Nome do profissional\n    * Especialidade\n\n  ### 2.2 Tratamento de Falhas\n\n  Se a busca falhar ou não encontrar agendamento:\n  * Prossiga com confirmação genérica\n  * Não mencione erro ao paciente\n  * Mantenha tom positivo\n</busca-agendamento>\n\n## 3. COMPOSIÇÃO DA MENSAGEM\n\n<composicao-mensagem>\n  ### 3.1 Estrutura da Mensagem\n\n  ```\n  SAUDAÇÃO\n  ↓\n  CONFIRMAÇÃO DO PAGAMENTO\n  ↓\n  DETALHES DA CONSULTA (se disponíveis)\n  ↓\n  ORIENTAÇÕES BÁSICAS\n  ↓\n  ENCERRAMENTO CORDIAL\n  ```\n\n  ### 3.2 Elementos Obrigatórios\n\n  * Saudação apropriada ao horário atual\n  * Confirmação explícita do recebimento\n  * Valor recebido: R$ {{ $('Cobrança atualizada').item.json.body.payment.value }}\n  * Agradecimento pela confiança\n\n  ### 3.3 Elementos Condicionais\n\n  Se os dados da consulta estiverem disponíveis:\n  * Data e horário exatos\n  * Nome do profissional\n  * Endereço da clínica\n  * Recomendação de chegar com antecedência\n</composicao-mensagem>\n\n# FERRAMENTAS DISPONÍVEIS\n\n<ferramentas>\n  ## Buscar_agendamentos_do_contato\n\n  <ferramenta id=\"Buscar_agendamentos_do_contato\">\n    **Uso**: Recuperar detalhes do agendamento ativo\n    **Quando**: Sempre, no início do processo\n    **Parâmetros**: ID da agenda (não chamar ferramenta caso não seja identificado o ID da agenda no histórico da conversa)\n    **Tratamento de erro**: Prosseguir com mensagem genérica\n  </ferramenta>\n</ferramentas>\n\n# VALIDAÇÕES E REGRAS\n\n<validacoes>\n  ## Regras Críticas\n\n  1. **Proibições Absolutas**\n    * NUNCA solicitar informações adicionais ao paciente\n    * NUNCA mencionar erros técnicos ou falhas\n    * NUNCA questionar o valor ou forma de pagamento\n    * NUNCA agendar ou remarcar consultas\n\n  2. **Obrigações**\n    * SEMPRE iniciar com saudação (mensagem proativa)\n    * SEMPRE confirmar o recebimento do pagamento\n    * SEMPRE manter tom positivo e profissional\n    * SEMPRE ser breve e objetiva\n\n  3. **Limitações**\n    * Uma única mensagem de resposta\n    * Máximo de 5-7 linhas de texto\n    * Foco exclusivo na notificação\n</validacoes>\n\n# EXEMPLOS DE MENSAGENS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Com Dados Completos da Consulta\n\n  ```\n  Bom dia, Sr. João Carlos!\n\n  Confirmo o recebimento do pagamento de R$ 500,00 referente à sua consulta.\n\n  Lembrando que sua consulta está marcada para quinta-feira, dia 12/12 às 09:00 com o Dr. Roberto Almeida.\n\n  Nosso endereço é Av. das Palmeiras, 1500 - Jardim América. Recomendamos chegar com 15 minutos de antecedência.\n\n  Agradecemos a confiança!\n  Clínica Moreira\n  ```\n  \n  ## Exemplo 2: Sem Dados da Consulta (Falha na Busca)\n\n  ```\n  Boa tarde!\n\n  Confirmamos o recebimento do seu pagamento de R$ 500,00.\n\n  Aguardamos você no dia e horário da sua consulta agendada.\n\n  Qualquer dúvida, estamos à disposição.\n\n  Obrigada pela confiança!\n  Clínica Moreira\n  ```\n</exemplos>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## LEMBRE-SE SEMPRE\n\n  * ⚠️ Você está enviando uma mensagem PROATIVA - inicie com saudação\n  * ⚠️ Seja BREVE - paciente não solicitou informações\n  * ⚠️ NUNCA exponha problemas técnicos ao paciente\n  * ⚠️ NUNCA peça informações ou ações adicionais\n  * ⚠️ Mantenha o foco EXCLUSIVO na confirmação do pagamento\n\n  ## VERIFICAÇÕES IMPORTANTES\n\n  * O valor do pagamento foi de: R$ {{ $('Cobrança atualizada').item.json.body.payment.value }}\n  * A mensagem é uma notificação automática do sistema\n  * O paciente já tem todas as informações necessárias\n\n  ## ASSINATURA\n\n  * Sempre assine como \"Clínica Moreira\" ao final\n  * Não use \"Maria\" na assinatura desta mensagem automática\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n  **Valor Recebido**: R$ {{ $('Cobrança atualizada').item.json.body.payment.value }}\n</informacoes-sistema>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2976,
        1344
      ],
      "id": "6664f1d9-23cb-47a8-95d9-182e2fbf3480",
      "name": "Agente de notificação de pagamento",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Criar ou buscar cobrança",
        "height": 544,
        "width": 1904,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        656
      ],
      "typeVersion": 1,
      "id": "089eadc1-31c5-46e9-b136-f61858f3389a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Atualizar status da cobrança",
        "height": 480,
        "width": 1616,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        1216
      ],
      "typeVersion": 1,
      "id": "63f258ad-cc0e-4212-8670-ecbe82b7187c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Enviar notificação de pagamento",
        "height": 480,
        "width": 992,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        1216
      ],
      "typeVersion": 1,
      "id": "eb4e7672-c265-4e53-8ec1-5912fe4b3ca7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2912,
        1552
      ],
      "id": "00e60844-c8d7-4bd5-94a2-f1e6edcef690",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "T8fdozITjWZLw425",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Buscar contato Chatwoot').item.json.payload.phone_number }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3024,
        1552
      ],
      "id": "dcc291f9-737c-4a8b-91e8-fcbeb9a4e237",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/customers/{{ $('Gatilho').item.json.asaas_id_cliente }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        880
      ],
      "id": "f1e4d8f2-ec24-4d45-9572-48df801aaba0",
      "name": "Buscar cliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bhueG2hGs9HShYG2",
          "name": "Asas - token de acesso - Marcos"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Gatilho').item.json.url_asaas }}/v3/customers/{{ $('Gatilho').item.json.asaas_id_cliente }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cpfCnpj",
              "value": "={{ $('Gatilho').item.json.cpf }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        800
      ],
      "id": "879d5e7d-f213-4edd-958f-54e1c97be974",
      "name": "Atualizar cliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bhueG2hGs9HShYG2",
          "name": "Asas - token de acesso - Marcos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65e678fe-8719-4e6c-b9d9-22a82d0c252d",
              "leftValue": "={{ $('Buscar cliente').item.json.cpfCnpj }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2336,
        880
      ],
      "id": "c921f07a-b48b-4d16-bfee-1c5a40bc495c",
      "name": "Cadastro CPF pendente?"
    },
    {
      "parameters": {
        "content": "# Checklist - Criar conta no Asaas\n\n\n\n\n[Clique aqui para criar sua conta no Asaas.](https://www.asaas.com/r/5ec90fd5-677d-40c7-b577-cc1f6de62fec)\n\n\n\n\n- [x] Após criar a conta, vá no menu \"Integrações\", e clique em \"Criar conta Sandbox\" para ter acesso ao ambiente de testes\n- [ ] Na conta Sandbox, no mesmo menu \"Integrações\", ir na aba Chaves de API para criar uma nova chave\n- [ ] Nome da chave: \"Secretária v3\". Não é necessário colocar data de expiração\n- [ ] Copiar chave de API criada",
        "height": 336,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        656
      ],
      "id": "21e2e941-3428-490a-bc01-2a3a23048ec6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "[![Logo Asaas](https://cdn.brandfetch.io/idLRcDynC3/w/820/h/245/theme/light/logo.png?c=1bxid64Mup7aczewSAYMX&t=1759336410985)](https://www.asaas.com/r/5ec90fd5-677d-40c7-b577-cc1f6de62fec)",
        "height": 112,
        "width": 262,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        720
      ],
      "typeVersion": 1,
      "id": "8efa8a2c-d9d7-4b96-9a7f-432ab43cd71d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3136,
        1552
      ],
      "id": "d96ce7b3-d1b3-4276-a2ac-fa50ba72d7de",
      "name": "Refletir"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "returnAll": true,
        "timeMax": "=",
        "options": {
          "query": "={{ $('Buscar contato Chatwoot').item.json.payload.phone_number }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3248,
        1552
      ],
      "id": "b2af4fa8-56c8-495e-8871-09a3e9e3f685",
      "name": "Buscar agendamentos do contato",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pvHhU1UrNLD24ix2",
          "name": "Google Calendar account - Marcos"
        }
      }
    },
    {
      "parameters": {
        "content": "# Checklist - Criar ou buscar cobrança\n- [ ] Abrir node \"Buscar cobrança\" para criar credencial \"Header Auth\"\n- [ ] `Name`: `access_token`\n- [ ] `Value`: colar chave de API do Asaas\n- [ ] Renomear credencial para \"Asaas\"\n- [ ] Abrir nodes do Asaas e do Chatwoot para selecionar as credenciais",
        "height": 208,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2768,
        608
      ],
      "id": "adec353c-d3c2-4a97-a3cb-491fc7bb3967",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# Checklist - Atualizar status da cobrança\n- [ ] Configurar node \"Info\"\n- [ ] Abrir nodes do Asaas, Chatwoot, OpenAI, Postgres, e Google Calendar para selecionar as credenciais\n- [ ] Copiar URL de produção do Webhook e criar um novo Webhook na seção [\"Integrações\" -> \"Webhooks\" do Asaas](https://sandbox.asaas.com/customerConfigIntegrations/webhooks)\n- [ ] Preencher \"Nome\" (\"Secretária v3\"), \"Email\", \"Versão\" -> v3\n- [ ] \"Tipo de envio\" -> \"Sequencial\"\n- [ ] Criar uma senha segura e inserir em \"Token de autenticação\"\n- [ ] Na seção \"Cobranças\" -> \"Selecionar todos\"\n- [ ] Salvar\n- [ ] No node \"Cobrança atualizada\", selecionar \"Authentication\" -> \"Header Auth\" -> \"Create new credential\"\n- [ ] `Name`: `asaas-access-token`\n- [ ] `Value`: a senha inserida no campo \"Token de autenticação\" no Asaas\n- [ ] Renomear credencial para \"Asaas - Token webhook\"\n- [ ] Ativar workflow",
        "height": 432,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        1504
      ],
      "id": "cf074950-9980-448c-bbcd-879ddbd79d7e",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Gatilho').item.json.id_contato }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gatilho').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  customFields: [\n    {\n      key: \"asaas_id_cliente\",\n      field_value: {{ $json.payload.customFields[0].field_value }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        1200
      ],
      "id": "8f8f755c-6061-4b2a-b6de-06f4ab416f78",
      "name": "Instagram",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Ver dados disponíveis\nconst asaasId = $('Criar cliente').item.json.id;\nconst contactId = $('Gatilho').item.json.contact_id;\n\nconsole.log('Asaas ID:', asaasId);\nconsole.log('Contact ID:', contactId);\n\nreturn [{\n  json: {\n    asaasId,\n    contactId,\n    payload: {\n      customFields: [{\n        key: \"asaas_id_cliente\",  // ← Ajuste aqui\n        field_value: asaasId\n      }]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        1056
      ],
      "id": "947888b5-0dbf-4306-863e-7ea56872eee3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Gatilho').item.json.id_contato }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tags",
              "value": "={{ $json.payload.customFields[0].field_value }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gatilho').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Update Contact (Outbound)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2560,
        1040
      ],
      "id": "682c82e1-05b9-44ad-8616-ec75d8830d63"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/search",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "locationId",
              "value": "={{ $('Info').item.json.location_id }}"
            },
            {
              "name": "pageLimit",
              "value": "={{20}}"
            },
            {
              "name": "query",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Buscar contato (sem 9)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3408,
        1344
      ],
      "id": "496cd34a-7483-4e52-a905-8127dd5a0093",
      "notes": "Busca contato por TELEFONE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Info').item.json.contact_id }}\",\n  \"message\": \"{{ $('Para cada mensagem').item.json.mensagem }}\",\n  \"phone\": \"{{ $('Info').item.json.telefone }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3632,
        1344
      ],
      "id": "112eafa8-ad99-42ca-be5d-158e6ad14e02",
      "name": "Whatsapp1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/search",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "locationId",
              "value": "={{ $('Info').item.json.location_id }}"
            },
            {
              "name": "pageLimit",
              "value": "={{20}}"
            },
            {
              "name": "query",
              "value": "={{ $('Info').item.json.telefone }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Buscar contato (sem 9)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2336,
        1344
      ],
      "id": "376d4c85-8c67-4f05-88ae-f47f5ec74f1a",
      "notes": "Busca contato por TELEFONE"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contacts[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Info').item.json.contact_id }}\",\n  \"asaas_status_cobranca\": \"{{ $('Mapeamento status').item.json[$('Info').item.json.status_cobranca] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        1344
      ],
      "id": "a99116c5-ffac-4125-8049-fe76351bad43",
      "name": "Atualizar Contato1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM clientes WHERE id_externo = '{{ $json.id_contato }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2208,
        1216
      ],
      "id": "8be9cd0b-0702-4c4b-b29c-b182b214353c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validar e limpar dados de entrada\nconst dados = $input.item.json;\n\n// Validações\nconst erros = [];\n\nif (!dados.id_contato) erros.push('id_contato é obrigatório');\nif (!dados.nome) erros.push('nome é obrigatório');\nif (!dados.descricao) erros.push('descricao é obrigatória');\nif (!dados.valor || isNaN(parseFloat(dados.valor))) erros.push('valor deve ser numérico');\nif (!dados.vencimento) erros.push('vencimento é obrigatório');\n\n// Se houver erros, retornar\nif (erros.length > 0) {\n  return {\n    json: {\n      sucesso: false,\n      erro: 'Dados inválidos',\n      detalhes: erros\n    }\n  };\n}\n\n// Limpar CPF (remover caracteres especiais)\nconst cpfLimpo = (dados.cpf || '').replace(/\\D/g, '');\n\n// Limpar telefone\nconst telefoneLimpo = (dados.telefone || '').replace(/\\D/g, '');\n\n// Formatar data de vencimento (garantir formato YYYY-MM-DD)\nlet vencimentoFormatado = dados.vencimento;\nif (dados.vencimento.includes('/')) {\n  const [dia, mes, ano] = dados.vencimento.split('/');\n  vencimentoFormatado = `${ano}-${mes.padStart(2, '0')}-${dia.padStart(2, '0')}`;\n}\n\nreturn {\n  json: {\n    id_contato: dados.id_contato,\n    nome: dados.nome.trim(),\n    cpf: cpfLimpo || null,\n    telefone: telefoneLimpo || null,\n    email: dados.email?.trim() || null,\n    descricao: dados.descricao.trim(),\n    valor: parseFloat(dados.valor),\n    vencimento: vencimentoFormatado,\n    metodo_pagamento: dados.metodo_pagamento?.trim() || null,\n    observacoes: dados.observacoes?.trim() || null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1312
      ],
      "id": "0d5539c1-9af7-4616-8628-641ef8e24bf8",
      "name": "🔍 Validar Dados"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.sucesso }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5184,
        1312
      ],
      "id": "af39a4e3-2d14-4f2f-80a0-e334ac1153c7",
      "name": "❓ Dados Válidos?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "sucesso",
              "value": "=false",
              "type": "boolean"
            },
            {
              "name": "erro",
              "value": "={{ $json.erro }}"
            },
            {
              "name": "detalhes",
              "value": "={{ $json.detalhes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5376,
        1424
      ],
      "id": "5d0417c0-16a4-4eec-8b3a-d0e962f55ff6",
      "name": "❌ Retornar Erro"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar ou criar cliente\nINSERT INTO clientes (\n  id_externo,\n  nome,\n  cpf,\n  telefone,\n  email\n)\nVALUES (\n  '{{ $json.id_contato }}',\n  '{{ $json.nome }}',\n  {{ $json.cpf ? \"'\" + $json.cpf + \"'\" : 'NULL' }},\n  {{ $json.telefone ? \"'\" + $json.telefone + \"'\" : 'NULL' }},\n  {{ $json.email ? \"'\" + $json.email + \"'\" : 'NULL' }}\n)\nON CONFLICT (id_externo) DO UPDATE\nSET \n  nome = EXCLUDED.nome,\n  telefone = COALESCE(EXCLUDED.telefone, clientes.telefone),\n  email = COALESCE(EXCLUDED.email, clientes.email),\n  cpf = COALESCE(EXCLUDED.cpf, clientes.cpf),\n  updated_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        5376,
        1184
      ],
      "id": "1047f3e7-105b-4141-9fe1-65186be42b3c",
      "name": "💾 Criar/Atualizar Cliente",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Consolidar dados para criar cobrança\nconst dadosValidados = $('🔍 Validar Dados').item.json;\nconst cliente = $input.item.json;\n\nreturn {\n  json: {\n    cliente_id: cliente.id,\n    cliente_nome: cliente.nome,\n    id_externo: cliente.id_externo,\n    descricao: dadosValidados.descricao,\n    valor: dadosValidados.valor,\n    vencimento: dadosValidados.vencimento,\n    metodo_pagamento: dadosValidados.metodo_pagamento,\n    observacoes: dadosValidados.observacoes\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        1184
      ],
      "id": "da1a5a63-7d00-4026-8851-4aae15ae1700",
      "name": "📦 Preparar Cobrança"
    },
    {
      "parameters": {
        "jsCode": "// Formatar resposta final\nconst cobranca = $input.item.json;\nconst cliente = $('📦 Preparar Cobrança').item.json;\n\n// Formatar valor\nconst valorFormatado = new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(cobranca.valor);\n\n// Formatar data\nconst dataVencimento = new Date(cobranca.vencimento + 'T00:00:00');\nconst vencimentoFormatado = dataVencimento.toLocaleDateString('pt-BR');\n\n// Formatar data de criação\nconst dataCriacao = new Date(cobranca.created_at);\nconst criacaoFormatada = dataCriacao.toLocaleString('pt-BR');\n\nreturn {\n  json: {\n    sucesso: true,\n    resultado: '✅ Cobrança criada com sucesso!',\n    \n    // Dados da cobrança\n    cobranca: {\n      id: cobranca.id,\n      numero: cobranca.numero_cobranca,\n      descricao: cobranca.descricao,\n      valor: cobranca.valor,\n      valor_formatado: valorFormatado,\n      vencimento: cobranca.vencimento,\n      vencimento_formatado: vencimentoFormatado,\n      status: cobranca.status,\n      metodo_pagamento: cobranca.metodo_pagamento,\n      criada_em: criacaoFormatada\n    },\n    \n    // Dados do cliente\n    cliente: {\n      id: cliente.cliente_id,\n      nome: cliente.cliente_nome,\n      id_externo: cliente.id_externo\n    },\n    \n    // Mensagem formatada para o agente\n    mensagem_agente: `\n✅ COBRANÇA CRIADA\n\nNúmero: ${cobranca.numero_cobranca}\nCliente: ${cliente.cliente_nome}\nDescrição: ${cobranca.descricao}\nValor: ${valorFormatado}\nVencimento: ${vencimentoFormatado}\nStatus: ${cobranca.status.toUpperCase()}\n\nCobrança registrada no sistema em ${criacaoFormatada}\n    `.trim()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5984,
        1184
      ],
      "id": "80853a5d-2f74-4af9-b088-43a8b0cb1ac2",
      "name": "✅ Formatar Resposta"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Criar cobrança\nINSERT INTO cobrancas (\n  cliente_id,\n  id_externo,\n  descricao,\n  valor,\n  vencimento,\n  metodo_pagamento,\n  observacoes,\n  status\n)\nVALUES (\n  '{{ $json.cliente_id }}'::uuid,\n  '{{ $json.id_externo }}',\n  '{{ $json.descricao }}',\n  {{ $json.valor }},\n  '{{ $json.vencimento }}'::date,\n  {{ $json.metodo_pagamento ? \"'\" + $json.metodo_pagamento + \"'\" : 'NULL' }},\n  {{ $json.observacoes ? \"'\" + $json.observacoes + \"'\" : 'NULL' }},\n  'pendente'\n)\nRETURNING \n  id,\n  numero_cobranca,\n  cliente_id,\n  descricao,\n  valor,\n  vencimento,\n  metodo_pagamento,\n  status,\n  created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        5776,
        1184
      ],
      "id": "73e6cae9-1936-48ad-9985-6de9bbd3ef04",
      "name": "💰 Criar Cobrança1",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    }
  ],
  "pinData": {
    "Gatilho": [
      {
        "json": {
          "cobranca_valor": "800",
          "cobranca_vencimento": "2025-11-17",
          "telefone": "(123) 456-7890",
          "nome": "Fernanda Lappe",
          "cpf": null,
          "id_conta": "lappe-finance",
          "id_contato": "fernanda-lappe",
          "asaas_id_cliente": null,
          "asaas_id_cobranca": null,
          "url_chatwoot": null,
          "url_asaas": null,
          "api_key": "your_api_key_here"
        }
      }
    ]
  },
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Cobrança já existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobrança já existe?": {
      "main": [
        [
          {
            "node": "Buscar cobrança",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cliente já existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente já existe?": {
      "main": [
        [
          {
            "node": "Buscar cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Validar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar cliente": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar cobrança": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cobrança": {
      "main": [
        [
          {
            "node": "Cliente já tem cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobrança atualizada": {
      "main": [
        [
          {
            "node": "Cobrança atualizada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeamento status": {
      "main": [
        [
          {
            "node": "Buscar contato (sem 9)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobrança atualizada?": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuário cadastrado?": {
      "main": [
        [
          {
            "node": "Mapeamento status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Usuário não cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Buscar cliente Asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagamento recebido?": {
      "main": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente Asaas": {
      "main": [
        [
          {
            "node": "Usuário cadastrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de notificação de pagamento": {
      "main": [
        [
          {
            "node": "Buscar contato (sem 9)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente": {
      "main": [
        [
          {
            "node": "Cadastro CPF pendente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar cliente": {
      "main": [
        [
          {
            "node": "Criar cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastro CPF pendente?": {
      "main": [
        [
          {
            "node": "Atualizar cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Agente de notificação de pagamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update Contact (Outbound)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        []
      ]
    },
    "Update Contact (Outbound)": {
      "main": [
        [
          {
            "node": "Criar cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato (sem 9)": {
      "main": [
        [
          {
            "node": "Whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato (sem 9)1": {
      "main": [
        [
          {
            "node": "Atualizar Contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Contato1": {
      "main": [
        [
          {
            "node": "Pagamento recebido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Validar Dados": {
      "main": [
        [
          {
            "node": "❓ Dados Válidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Dados Válidos?": {
      "main": [
        [
          {
            "node": "❌ Retornar Erro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💾 Criar/Atualizar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Criar/Atualizar Cliente": {
      "main": [
        [
          {
            "node": "📦 Preparar Cobrança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Preparar Cobrança": {
      "main": [
        [
          {
            "node": "💰 Criar Cobrança1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Criar Cobrança1": {
      "main": [
        [
          {
            "node": "✅ Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "595ad1e6-5d72-4466-b332-0fd2851ef25b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "eqo3OhukCZPvD9VH",
  "tags": [
    {
      "updatedAt": "2025-11-13T14:29:55.884Z",
      "createdAt": "2025-11-13T14:29:55.884Z",
      "id": "T8OlgKmJLTM1sBIJ",
      "name": "assistente-adm"
    }
  ]
}