09. Desmarcar e enviar alerta.json
{
  "name": "09. Desmarcar e enviar alerta",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "mensagem"
            },
            {
              "name": "id_agenda"
            },
            {
              "name": "id_evento"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_inbox"
            },
            {
              "name": "api_key"
            },
            {
              "name": "contact_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        800
      ],
      "id": "eadd8fba-0521-42d7-bb4b-4e62ad5326d5",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] \"Buscar contato\" -> Subworkflow 10\n- [ ] Abrir nodes do Google Calendar e Chatwoot para selecionar credenciais",
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        640
      ],
      "id": "90746319-6291-4ce1-a0bc-6af5da533197",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 09. Desmarcar e enviar alerta",
        "height": 80,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f41b474f-bcca-4ab6-8fa0-0f99d0216124",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Deletar evento",
        "height": 272,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        688
      ],
      "typeVersion": 1,
      "id": "212c788e-dba6-4520-ab56-bc2933452b41",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Gatilho').item.json.id_agenda }}",
          "mode": "id"
        },
        "eventId": "={{ $('Gatilho').item.json.id_evento }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        944,
        800
      ],
      "id": "4d6c500b-3e89-4fb8-acbc-40dfaf150186",
      "name": "Desmarcar agendamento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pvHhU1UrNLD24ix2",
          "name": "Google Calendar account - Marcos"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W8sQLUkaWCQa5ENU",
          "mode": "list",
          "cachedResultUrl": "/workflow/W8sQLUkaWCQa5ENU",
          "cachedResultName": "10. Buscar ou criar contato + conversa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Gatilho').item.json.telefone }}",
            "id_conta": "={{ $('Gatilho').item.json.id_conta }}",
            "id_inbox": "={{ $('Gatilho').item.json.id_inbox }}",
            "api_key": "={{ $('Gatilho').item.json.id_agenda }} {{ $json.api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_inbox",
              "displayName": "id_inbox",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "api_key",
              "displayName": "api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        800
      ],
      "id": "8f68775b-06c9-4b99-96fe-f4979d029e51",
      "name": "Buscar contato"
    },
    {
      "parameters": {
        "content": "## Enviar alerta e salvar na memória da Secretária",
        "height": 272,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        688
      ],
      "typeVersion": 1,
      "id": "504b7887-f5f8-4ca7-820d-a328ccbb8d37",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7aefcd2b-a8da-428a-8a99-4d516b56b685",
              "name": "resultado",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        800
      ],
      "id": "c4daa270-bd07-42cd-8e33-24348369fd46",
      "name": "Resultado"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Gatilho').item.json.telefone }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"{{ $('Gatilho').item.json.mensagem.replace('\"', '\\\\\"') }}\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1840,
        800
      ],
      "id": "11aa5cf7-3d15-4b48-b79a-7d5ae9b2af86",
      "name": "Salvar memória Secretária",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Buscar contato').item.json.source }}",
                    "rightValue": "=SMS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "352c182d-185b-4c4f-a3f3-75d44c4677a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Buscar contato').item.json.source }}",
                    "rightValue": "=instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "81dedac4-062c-48ee-920c-6bccb25be256"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1392,
        800
      ],
      "id": "8859661b-5eb6-4a88-9c76-b908e37ad8ef",
      "name": "Canal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Edit Fields').item.json.contactId }}\",\n  \"attachments\": [\"{{ $json.url }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        896
      ],
      "id": "8e788732-59f0-43ae-bead-13511225c7f1",
      "name": "Instagram1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Edit Fields').item.json.contactId }}\",\n  \"message\": \"Modo de teste habilitado.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        704
      ],
      "id": "19535d99-83f8-47f5-a129-d69d8072b5c4",
      "name": "Whatsapp1",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Desmarcar agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desmarcar agendamento": {
      "main": [
        [
          {
            "node": "Buscar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato": {
      "main": [
        [
          {
            "node": "Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar memória Secretária": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal": {
      "main": [
        [
          {
            "node": "Whatsapp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp1": {
      "main": [
        [
          {
            "node": "Salvar memória Secretária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram1": {
      "main": [
        [
          {
            "node": "Salvar memória Secretária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb636c6e-2c92-486d-af91-f71beb306240",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "I2zdv2vMIB1zaINz",
  "tags": []
}