11. Agente de Lembretes de Agendamento.json
{
  "name": "11. Agente de Lembretes de Agendamento",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Pega todos os itens do input\nconst items = $input.all();\n\n// Processa cada item\nreturn items.map(item => {\n  // Pega a data/hora atual\n  const now = new Date();\n  \n  // Define startDate como início do dia atual (00:00:00)\n  const startDate = new Date(now);\n  startDate.setHours(0, 0, 0, 0);\n  \n  // Define endDate como 7 dias depois, final do dia (23:59:59)\n  const endDate = new Date(now);\n  endDate.setDate(endDate.getDate() + 7);\n  endDate.setHours(23, 59, 59, 999);\n  \n  // Retorna o item com os novos campos\n  return {\n    json: {\n      ...item.json,\n      startDate: startDate.getTime().toString(),\n      endDate: endDate.getTime().toString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6368,
        -144
      ],
      "id": "e4c4815a-ee47-4f88-a7dc-bc40a1bc6553",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9b08522-ff71-421e-a35a-0c3a21472441",
              "leftValue": "={{ $('Buscar contato').item.json.conversations[0].contactId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4800,
        -144
      ],
      "id": "08a4462d-4d3b-4d8e-9db3-9fa9d5253209",
      "name": "Contato existe?",
      "executeOnce": false
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/search",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "locationId",
              "value": "={{ $('Info1').item.json.location_id }}"
            },
            {
              "name": "pageLimit",
              "value": "={{20}}"
            },
            {
              "name": "query",
              "value": "={{ $('Info1').item.json.telefone }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info1').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Buscar contato (sem 9)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -6144,
        -144
      ],
      "id": "ec4724bc-113d-4290-b407-9fec1cf09c98",
      "notes": "Busca contato por TELEFONE"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/search?contactId={{ $json.contacts[0].id }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info1').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5920,
        -144
      ],
      "id": "767864ce-e77f-44fb-823d-8e5394d4d909",
      "name": "Buscar contato",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// --- INÍCIO DO CÓDIGO ---\n\n// Passo 1: Obter os dados de entrada.\n// Assumimos que os dados chegam no primeiro item de entrada.\nconst inputData = $input.first().json;\n\n// Passo 2: Verificar se o array 'conversations' existe e não está vazio.\n// Isso evita erros se a entrada estiver mal formatada.\nif (inputData.conversations && Array.isArray(inputData.conversations)) {\n\n  // Passo 3: Usar .map() para processar cada objeto de conversa.\n  // O .map() cria um NOVO array com as conversas atualizadas.\n  const updatedConversations = inputData.conversations.map(conversation => {\n    \n    const fullName = conversation.fullName;\n    let firstName = '';\n    let lastName = '';\n\n    // Passo 4: Lógica de divisão do nome.\n    // Verifica se fullName existe, é uma string e não está vazio.\n    if (fullName && typeof fullName === 'string' && fullName.trim() !== '') {\n      // Remove espaços extras no início/fim e divide o nome em um array de palavras.\n      const nameParts = fullName.trim().split(' ');\n      \n      // O primeiro elemento é sempre o firstName. O método .shift() remove e retorna o primeiro item.\n      firstName = nameParts.shift() || ''; \n      \n      // O que sobrar no array é o lastName. O .join(' ') junta tudo de volta com espaços.\n      lastName = nameParts.join(' ');\n    }\n\n    // Passo 5: Retornar um novo objeto.\n    // O \"spread operator\" (...) copia todas as propriedades originais da conversa\n    // e depois adicionamos as duas novas propriedades.\n    return {\n      ...conversation,\n      firstName: firstName,\n      lastName: lastName\n    };\n  });\n\n  // Passo 6: Substituir o array de conversas antigo pelo novo, já com os campos adicionados.\n  inputData.conversations = updatedConversations;\n}\n\n// Passo 7: Retornar o objeto de entrada completo, agora modificado.\nreturn [{\n  json: inputData\n}];\n\n// --- FIM DO CÓDIGO ---"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5696,
        -144
      ],
      "id": "220a8e6c-c389-421a-81fe-88f41a29d1f8",
      "name": "ID Contato"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a11d239-1259-4192-8181-f77e29385297",
              "leftValue": "={{ $json.lembrete }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -5248,
        -144
      ],
      "id": "2e50ac68-1482-4a11-9c13-eefe268bfb19",
      "name": "Eventos com lembrete pendente1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { cadencia_lembretes } = $('Info1').item.json;\nconst agora = new Date();\nconst inicio_evento = new Date($json.start.dateTime);\n\nconst horas_ate_evento = (inicio_evento.getTime() - agora.getTime()) / (1000 * 60 * 60);\n\nfor (const lembrete of cadencia_lembretes) {\n  const chave_lembrete = `lembrete_enviado_${lembrete}`;\n  if ($json.extendedProperties?.private?.[chave_lembrete] === 'true') {\n    // Pula se lembrete já foi enviado\n    continue;\n  }\n  \n  // Não disparamos o lembrete se já passou mais de 1h da hora que ele deveria disparar.\n  const limite_inferior = lembrete - 1;\n  const limite_superior = lembrete;\n  \n  if (horas_ate_evento >= limite_inferior && horas_ate_evento <= limite_superior) {\n    $input.item.json.lembrete = lembrete;\n    return $input.item;\n  }\n}\n\nreturn {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5472,
        -144
      ],
      "id": "d050c542-e886-49cc-8a2c-38757f0ac7dd",
      "name": "Algum lembrete pendente?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ac21a86-d749-4b9b-b6bb-7098e24a73e3",
              "name": "telefone",
              "value": "={{ $json.description.match(/(\\+55)?\\d{10,11}/)?.first() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5024,
        -144
      ],
      "id": "e362b772-1c21-41e2-b99a-ef717d40b166",
      "name": "Extrair informações1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $('Buscar eventos').item.json.organizer.email }}/events/{{ $('Buscar eventos').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"extendedProperties\": {\n    \"private\": {\n      \"lembrete_enviado_{{ $('Eventos com lembrete pendente').item.json.lembrete }}\": \"true\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3216,
        -336
      ],
      "id": "b2cc9d9c-69a8-4e11-a065-02dc81c936dd",
      "name": "Marcar lembrete enviado2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pvHhU1UrNLD24ix2",
          "name": "Google Calendar account - Marcos"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4352,
        -16
      ],
      "id": "9fbdfdc5-6618-433c-b32d-86f80884289c",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extrair informações').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -4224,
        -16
      ],
      "id": "c2b31167-a993-41b2-84ff-c6f47d868b5c",
      "name": "Memoria1",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<lead tem um agendamento com lembrete pendente>\n\n### Informações do evento\n\nAgenda: {{ $('Buscar eventos').item.json.organizer.displayName }}\nData: {{ $('Buscar eventos').item.json.start.dateTime }}\nTítulo: {{ $('Buscar eventos').item.json.summary }}\nDescrição: {{ $('Buscar eventos').item.json.description }}\n\n### Status pagamento\n\n{{ $('Buscar ou criar contato1').item.json.contato.custom_attributes.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual da Clínica Moreira, responsável por enviar lembretes de consultas agendadas via WhatsApp. Sua função é relembrar pacientes sobre suas consultas e solicitar confirmação de presença de forma cordial e profissional.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Atenciosa e proativa**: Demonstre cuidado com o compromisso do paciente\n  * **Objetiva e clara**: Vá direto ao ponto sem ser ríspida\n  * **Profissional e cordial**: Mantenha equilíbrio entre formalidade e calor humano\n  * **Paciente**: Facilite a resposta do paciente com opções claras\n</personalidade>\n\n# CONTEXTO DA TAREFA\n\n<contexto>\n  Um lembrete automático precisa ser enviado para um paciente com consulta agendada. O sistema identificou que é momento de solicitar confirmação de presença. Você deve:\n\n  1. Relembrar sobre a consulta agendada\n  2. Solicitar confirmação de presença\n  3. Informar sobre o status do pagamento (se relevante)\n  4. Facilitar a resposta do paciente\n\n  **IMPORTANTE**: Esta é uma mensagem proativa de lembrete - o paciente não solicitou esta informação.\n</contexto>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. ANÁLISE DO CONTEXTO\n\n<analise-contexto>\n  ### 1.1 Informações Recebidas\n\n  Dados disponíveis do sistema:\n  * Profissional: {{ $('Buscar eventos').item.json.organizer.displayName }}\n  * Data/Hora: {{ $('Buscar eventos').item.json.start.dateTime }}\n  * Paciente: {{ $('Buscar eventos').item.json.summary }}\n  * Detalhes: {{ $('Buscar eventos').item.json.description }}\n  * Status Pagamento: {{ $('Buscar ou criar contato1').item.json.contato.custom_attributes.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n\n  ### 1.2 Processamento das Informações\n\n  1. Extraia o nome do paciente do título do evento\n  2. Formate a data e hora para apresentação amigável\n  3. Identifique o profissional e especialidade\n  4. Verifique status do pagamento\n</analise-contexto>\n\n## 2. COMPOSIÇÃO DO LEMBRETE\n\n<composicao-lembrete>\n  ### 2.1 Estrutura da Mensagem\n\n  ```\n  SAUDAÇÃO PERSONALIZADA\n  ↓\n  LEMBRETE DA CONSULTA\n  ↓\n  DETALHES (DATA/HORA/PROFISSIONAL)\n  ↓\n  SOLICITAÇÃO DE CONFIRMAÇÃO\n  ↓\n  STATUS PAGAMENTO (se pendente)\n  ↓\n  INSTRUÇÕES PARA RESPOSTA\n  ```\n\n  ### 2.2 Elementos Obrigatórios\n\n  * Saudação com nome do paciente (se disponível)\n  * Data e horário formatados claramente\n  * Nome do profissional\n  * Pergunta direta sobre confirmação\n  * Opções de resposta simples\n\n  ### 2.3 Elementos Condicionais\n\n  Se pagamento pendente:\n  * Lembrete gentil sobre o pagamento\n  * Não condicionar atendimento ao pagamento\n\n  Se consulta em menos de 4h e ainda não confirmada:\n  * Adicionar senso de urgência na confirmação\n\n  Se consulta em mais de 48h:\n  * Tom mais relaxado no lembrete\n</composicao-lembrete>\n\n## 3. FORMATAÇÃO E APRESENTAÇÃO\n\n<formatacao>\n  ### 3.1 Formatação de Data e Hora\n\n  * Dia da semana por extenso\n  * Data no formato DD/MM\n  * Horário no formato HH:MM\n  * Exemplo: \"quinta-feira, dia 12/12 às 09:00\"\n\n  ### 3.2 Facilitadores de Resposta\n\n  * Ofereça opções claras: \"Confirma?\" ou \"Precisa remarcar?\"\n  * Não exija respostas elaboradas\n\n  ### 3.3 Tom Baseado no Tempo\n\n  * Consulta hoje: \"Bom dia! Lembrando que sua consulta é HOJE...\"\n  * Consulta amanhã: \"Olá! Sua consulta é AMANHÃ...\"\n  * Consulta em 2+ dias: \"Olá! Passando para lembrar...\"\n</formatacao>\n\n# REGRAS E VALIDAÇÕES\n\n<validacoes>\n  ## Regras Críticas\n\n  1. **Proibições**\n    * NUNCA cobrar pagamento de forma agressiva\n    * NUNCA solicitar dados adicionais\n    * NUNCA mencionar valores se já pago\n\n  2. **Obrigações**\n    * SEMPRE incluir data e hora completos\n    * SEMPRE solicitar confirmação explicitamente\n    * SEMPRE manter tom cordial\n    * SEMPRE ser breve (máximo 6 linhas)\n\n  3. **Tratamento por Status de Pagamento**\n    * \"Pendente\": Lembrar gentilmente\n    * \"Cobrança confirmada/recebida\": Não mencionar pagamento\n    * \"Cobrança ainda não foi gerada\": Não mencionar pagamento\n    * Outros status: Não mencionar pagamento\n</validacoes>\n\n# EXEMPLOS DE MENSAGENS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Consulta Amanhã (Pagamento OK)\n\n  ```\n  Olá, João Carlos!\n\n  Passando para lembrar da sua consulta amanhã, quinta-feira, dia 12/12 às 09:00 com o Dr. Roberto Almeida.\n\n  Por favor, confirme sua presença ou avise se precisar remarcar.\n\n  Aguardamos sua confirmação!\n  ```\n\n  ## Exemplo 2: Consulta Hoje (Pagamento Pendente)\n\n  ```\n  Bom dia, Maria!\n\n  Lembrando que sua consulta é HOJE às 14:00 com a Dra. Ana Silva.\n\n  Você confirma presença?\n\n  Obs: O pagamento ainda está pendente, mas pode ser feito na recepção.\n  ```\n</exemplos>\n\n# CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Consulta Muito Próxima (menos de 2 horas) e ainda não confirmada (Título do Evento sem \"[CONFIRMADO]\")\n\n  * Adicione \"URGENTE\" no início\n  * Seja ainda mais breve\n  * Solicite confirmação imediata\n\n  ## Título do Evento com \"[CONFIRMADO]\"\n\n  * Reconheça que já houve confirmação prévia\n  * Use: \"Apenas relembrando sua consulta já confirmada...\"\n  * Não solicite nova confirmação\n\n  ## Status de Pagamento Desconhecido\n\n  * Não mencione pagamento\n  * Foque apenas na confirmação de presença\n\n  ## Múltiplos Agendamentos\n\n  * Se detectar mais de um agendamento\n  * Especifique claramente qual consulta\n  * Use nome do paciente específico se disponível\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## LEMBRE-SE SEMPRE\n\n  * ⚠️ Esta é uma mensagem PROATIVA - seja breve e objetiva\n  * ⚠️ Foque APENAS em obter confirmação de presença\n  * ⚠️ NÃO tente resolver outros assuntos\n  * ⚠️ NÃO faça perguntas além da confirmação\n  * ⚠️ Facilite ao máximo a resposta do paciente\n\n  ## FORMATO DE SAÍDA\n\n  * Apenas a mensagem para o paciente\n  * Sem comentários adicionais\n  * Sem explicações sobre o processo\n  * Direto e objetivo\n\n  ## VERIFICAÇÕES IMPORTANTES\n\n  * A data está formatada de forma clara?\n  * O nome do profissional está correto?\n  * A solicitação de confirmação está explícita?\n  * A mensagem tem no máximo 6 linhas?\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n</informacoes-sistema>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4304,
        -240
      ],
      "id": "6ed16909-e853-480d-be7b-bbd86908d49a",
      "name": "Agente de Lembretes de Agendamento1",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "errorMessage": "Telefone não encontrado no agendamento."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4576,
        -48
      ],
      "id": "ce0021d0-4eee-48c7-90ce-f381ef5ff2ee",
      "name": "Agendamento sem telefone1"
    },
    {
      "parameters": {
        "content": "## Criar e enviar lembrete",
        "height": 336,
        "width": 1264,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4368,
        -208
      ],
      "id": "2a394626-0218-44c3-8d78-797635a80ed4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W8sQLUkaWCQa5ENU",
          "mode": "list",
          "cachedResultUrl": "/workflow/W8sQLUkaWCQa5ENU",
          "cachedResultName": "10. Buscar ou criar contato + conversa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Extrair informações').item.json.telefone }}",
            "id_conta": "={{ $('Info1').item.json.id_conta }}",
            "id_inbox": "={{ $('Info1').item.json.id_inbox }}",
            "api_key": "={{ $('Info1').item.json.api_key }}",
            "location_id": "={{ $('Info1').item.json.location_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_inbox",
              "displayName": "id_inbox",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "api_key",
              "displayName": "api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -4576,
        -240
      ],
      "id": "a87aa3da-1ae4-4a8a-bda7-e895f42c803e",
      "name": "Buscar ou criar contato1"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -4096,
        -16
      ],
      "id": "7e06eef4-7a3e-469f-ba92-56931b55c98d",
      "name": "Refletir1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "whatsapp",
                    "rightValue": "={{ $('Info1').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "352c182d-185b-4c4f-a3f3-75d44c4677a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "instagram",
                    "rightValue": "={{ $('Info1').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3664,
        -240
      ],
      "id": "2cb6c6a0-0652-4c8d-9b48-bd87e78884a3",
      "name": "Canal1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info1').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Edit Fields').item.json.contactId }}\",\n  \"attachments\": [\"{{ $json.url }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3440,
        -144
      ],
      "id": "a132e097-534d-4eeb-bea1-06d69cd3c45b",
      "name": "Instagram",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info1').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Edit Fields').item.json.contactId }}\",\n  \"message\": \"Modo de teste habilitado.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3440,
        -336
      ],
      "id": "aeff9303-cf92-4a79-9002-c3a88d44ed75",
      "name": "Whatsapp2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "PATCH",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Edit Fields').item.json.contactId }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tags",
              "value": "=lembrete_enviado"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info1').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Marcar lembrete enviado3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -3216,
        -144
      ],
      "id": "a091c146-4956-438f-9749-1c3ba4976544"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "output"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -3888,
        -240
      ],
      "id": "d4ef662b-303a-4da8-9362-8790fbc9a638",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "content": "continuar a partir daqui:\n\nhttps://claude.ai/share/16590530-5eb0-4eaf-bfc0-639cec82deff",
        "height": 208,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6912,
        -192
      ],
      "typeVersion": 1,
      "id": "a7dbb9fd-08ac-4119-ba7f-e22dceab53f0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "1",
              "type": "string"
            },
            {
              "id": "6e8c2d3c-bec5-4ee0-8524-a2ddb787de21",
              "name": "id_inbox",
              "value": "1",
              "type": "string"
            },
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "api_key",
              "value": "pit-fe627027-b9cb-4ea3-aaa4-149459e66a03",
              "type": "string"
            },
            {
              "id": "720d6a5c-27ab-4763-9866-5d35ae9a5d3c",
              "name": "cadencia_lembretes",
              "value": "[24, 1]",
              "type": "array"
            },
            {
              "id": "a88b4791-9a14-415a-ba30-bcba2b61a2fb",
              "name": "id_agendas",
              "value": "=[\n \"eEWo8aXNwp2Tm4DY3jYS\"\n]",
              "type": "array"
            },
            {
              "id": "a26c4674-e889-4590-83cb-d1a28b770de4",
              "name": "location_id",
              "value": "cd1uyzpJox6XPt4Vct8Y",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6816,
        -144
      ],
      "id": "b3883936-71b5-4735-835c-0f19995882c7",
      "name": "Info1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id_agendas",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "id_agenda"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -6592,
        -144
      ],
      "id": "a5c82267-1e50-4d66-abb1-d831d2ffbf6c",
      "name": "Split1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6784,
        -672
      ],
      "id": "54d16b99-2705-4602-b4ef-b9c86284cf6f",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 208,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6656,
        -720
      ],
      "typeVersion": 1,
      "id": "fad605a0-0a65-40ab-85ba-832ab36aa988",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "1",
              "type": "string"
            },
            {
              "id": "6e8c2d3c-bec5-4ee0-8524-a2ddb787de21",
              "name": "id_inbox",
              "value": "1",
              "type": "string"
            },
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "api_key",
              "value": "pit-fe627027-b9cb-4ea3-aaa4-149459e66a03",
              "type": "string"
            },
            {
              "id": "720d6a5c-27ab-4763-9866-5d35ae9a5d3c",
              "name": "cadencia_lembretes",
              "value": "[24, 1]",
              "type": "array"
            },
            {
              "id": "a88b4791-9a14-415a-ba30-bcba2b61a2fb",
              "name": "id_agendas",
              "value": "=[\n \"c_7a32c19aa50563e745a450413c5dc5d04221288c0b73a097cf2ed40b3178c356@group.calendar.google.com\"\n]",
              "type": "array"
            },
            {
              "id": "a26c4674-e889-4590-83cb-d1a28b770de4",
              "name": "location_id",
              "value": "cd1uyzpJox6XPt4Vct8Y",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6560,
        -672
      ],
      "id": "ce1e955e-f6e5-456a-9aab-15fdb7d8ae26",
      "name": "Info"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.id_agenda }}",
          "mode": "id"
        },
        "timeMax": "={{ $now.plus({ day: 7 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -6144,
        -672
      ],
      "id": "35c3fd7b-6112-42c7-8835-5419a85b21e8",
      "name": "Buscar eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pvHhU1UrNLD24ix2",
          "name": "Google Calendar account - Marcos"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "id_agendas",
        "options": {
          "destinationFieldName": "id_agenda"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -6352,
        -672
      ],
      "id": "dd84a7fe-7368-4087-a355-6f437b9801a2",
      "name": "Split"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $('Buscar eventos').item.json.organizer.email }}/events/{{ $('Buscar eventos').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"extendedProperties\": {\n    \"private\": {\n      \"lembrete_enviado_{{ $('Eventos com lembrete pendente').item.json.lembrete }}\": \"true\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3872,
        -784
      ],
      "id": "775787f1-d87a-4701-a05a-0578968fbf5b",
      "name": "Marcar lembrete enviado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pvHhU1UrNLD24ix2",
          "name": "Google Calendar account - Marcos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a11d239-1259-4192-8181-f77e29385297",
              "leftValue": "={{ $json.lembrete }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -5728,
        -672
      ],
      "id": "702c32d6-a3a0-4565-abcf-a4212fac60e6",
      "name": "Eventos com lembrete pendente"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { cadencia_lembretes } = $('Info').item.json;\nconst agora = new Date();\nconst inicio_evento = new Date($json.start.dateTime);\n\nconst horas_ate_evento = (inicio_evento.getTime() - agora.getTime()) / (1000 * 60 * 60);\n\nfor (const lembrete of cadencia_lembretes) {\n  const chave_lembrete = `lembrete_enviado_${lembrete}`;\n  if ($json.extendedProperties?.private?.[chave_lembrete] === 'true') {\n    // Pula se lembrete já foi enviado\n    continue;\n  }\n  \n  // Não disparamos o lembrete se já passou mais de 1h da hora que ele deveria disparar.\n  const limite_inferior = lembrete - 1;\n  const limite_superior = lembrete;\n  \n  if (horas_ate_evento >= limite_inferior && horas_ate_evento <= limite_superior) {\n    $input.item.json.lembrete = lembrete;\n    return $input.item;\n  }\n}\n\nreturn {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5936,
        -672
      ],
      "id": "b4c8b158-ba3b-4cc3-a6c4-e92f920245e7",
      "name": "Algum lembrete pendente?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4880,
        -576
      ],
      "id": "79ae764d-06e3-4089-9554-821d4e68a853",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extrair informações').item.json.telefone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -4768,
        -576
      ],
      "id": "1ae1c496-3e56-4755-92e5-36d31f9903ba",
      "name": "Memoria",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<lead tem um agendamento com lembrete pendente>\n\n### Informações do evento\n\nAgenda: {{ $('Buscar eventos').item.json.organizer.displayName }}\nData: {{ $('Buscar eventos').item.json.start.dateTime }}\nTítulo: {{ $('Buscar eventos').item.json.summary }}\nDescrição: {{ $('Buscar eventos').item.json.description }}\n\n### Status pagamento\n\n{{ $('Buscar ou criar contato').item.json.contato.custom_attributes.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual da Clínica Moreira, responsável por enviar lembretes de consultas agendadas via WhatsApp. Sua função é relembrar pacientes sobre suas consultas e solicitar confirmação de presença de forma cordial e profissional.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Atenciosa e proativa**: Demonstre cuidado com o compromisso do paciente\n  * **Objetiva e clara**: Vá direto ao ponto sem ser ríspida\n  * **Profissional e cordial**: Mantenha equilíbrio entre formalidade e calor humano\n  * **Paciente**: Facilite a resposta do paciente com opções claras\n</personalidade>\n\n# CONTEXTO DA TAREFA\n\n<contexto>\n  Um lembrete automático precisa ser enviado para um paciente com consulta agendada. O sistema identificou que é momento de solicitar confirmação de presença. Você deve:\n\n  1. Relembrar sobre a consulta agendada\n  2. Solicitar confirmação de presença\n  3. Informar sobre o status do pagamento (se relevante)\n  4. Facilitar a resposta do paciente\n\n  **IMPORTANTE**: Esta é uma mensagem proativa de lembrete - o paciente não solicitou esta informação.\n</contexto>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. ANÁLISE DO CONTEXTO\n\n<analise-contexto>\n  ### 1.1 Informações Recebidas\n\n  Dados disponíveis do sistema:\n  * Profissional: {{ $('Buscar eventos').item.json.organizer.displayName }}\n  * Data/Hora: {{ $('Buscar eventos').item.json.start.dateTime }}\n  * Paciente: {{ $('Buscar eventos').item.json.summary }}\n  * Detalhes: {{ $('Buscar eventos').item.json.description }}\n  * Status Pagamento: {{ $('Buscar ou criar contato').item.json.contato.custom_attributes.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n\n  ### 1.2 Processamento das Informações\n\n  1. Extraia o nome do paciente do título do evento\n  2. Formate a data e hora para apresentação amigável\n  3. Identifique o profissional e especialidade\n  4. Verifique status do pagamento\n</analise-contexto>\n\n## 2. COMPOSIÇÃO DO LEMBRETE\n\n<composicao-lembrete>\n  ### 2.1 Estrutura da Mensagem\n\n  ```\n  SAUDAÇÃO PERSONALIZADA\n  ↓\n  LEMBRETE DA CONSULTA\n  ↓\n  DETALHES (DATA/HORA/PROFISSIONAL)\n  ↓\n  SOLICITAÇÃO DE CONFIRMAÇÃO\n  ↓\n  STATUS PAGAMENTO (se pendente)\n  ↓\n  INSTRUÇÕES PARA RESPOSTA\n  ```\n\n  ### 2.2 Elementos Obrigatórios\n\n  * Saudação com nome do paciente (se disponível)\n  * Data e horário formatados claramente\n  * Nome do profissional\n  * Pergunta direta sobre confirmação\n  * Opções de resposta simples\n\n  ### 2.3 Elementos Condicionais\n\n  Se pagamento pendente:\n  * Lembrete gentil sobre o pagamento\n  * Não condicionar atendimento ao pagamento\n\n  Se consulta em menos de 4h e ainda não confirmada:\n  * Adicionar senso de urgência na confirmação\n\n  Se consulta em mais de 48h:\n  * Tom mais relaxado no lembrete\n</composicao-lembrete>\n\n## 3. FORMATAÇÃO E APRESENTAÇÃO\n\n<formatacao>\n  ### 3.1 Formatação de Data e Hora\n\n  * Dia da semana por extenso\n  * Data no formato DD/MM\n  * Horário no formato HH:MM\n  * Exemplo: \"quinta-feira, dia 12/12 às 09:00\"\n\n  ### 3.2 Facilitadores de Resposta\n\n  * Ofereça opções claras: \"Confirma?\" ou \"Precisa remarcar?\"\n  * Não exija respostas elaboradas\n\n  ### 3.3 Tom Baseado no Tempo\n\n  * Consulta hoje: \"Bom dia! Lembrando que sua consulta é HOJE...\"\n  * Consulta amanhã: \"Olá! Sua consulta é AMANHÃ...\"\n  * Consulta em 2+ dias: \"Olá! Passando para lembrar...\"\n</formatacao>\n\n# REGRAS E VALIDAÇÕES\n\n<validacoes>\n  ## Regras Críticas\n\n  1. **Proibições**\n    * NUNCA cobrar pagamento de forma agressiva\n    * NUNCA solicitar dados adicionais\n    * NUNCA mencionar valores se já pago\n\n  2. **Obrigações**\n    * SEMPRE incluir data e hora completos\n    * SEMPRE solicitar confirmação explicitamente\n    * SEMPRE manter tom cordial\n    * SEMPRE ser breve (máximo 6 linhas)\n\n  3. **Tratamento por Status de Pagamento**\n    * \"Pendente\": Lembrar gentilmente\n    * \"Cobrança confirmada/recebida\": Não mencionar pagamento\n    * \"Cobrança ainda não foi gerada\": Não mencionar pagamento\n    * Outros status: Não mencionar pagamento\n</validacoes>\n\n# EXEMPLOS DE MENSAGENS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Consulta Amanhã (Pagamento OK)\n\n  ```\n  Olá, João Carlos!\n\n  Passando para lembrar da sua consulta amanhã, quinta-feira, dia 12/12 às 09:00 com o Dr. Roberto Almeida.\n\n  Por favor, confirme sua presença ou avise se precisar remarcar.\n\n  Aguardamos sua confirmação!\n  ```\n\n  ## Exemplo 2: Consulta Hoje (Pagamento Pendente)\n\n  ```\n  Bom dia, Maria!\n\n  Lembrando que sua consulta é HOJE às 14:00 com a Dra. Ana Silva.\n\n  Você confirma presença?\n\n  Obs: O pagamento ainda está pendente, mas pode ser feito na recepção.\n  ```\n</exemplos>\n\n# CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Consulta Muito Próxima (menos de 2 horas) e ainda não confirmada (Título do Evento sem \"[CONFIRMADO]\")\n\n  * Adicione \"URGENTE\" no início\n  * Seja ainda mais breve\n  * Solicite confirmação imediata\n\n  ## Título do Evento com \"[CONFIRMADO]\"\n\n  * Reconheça que já houve confirmação prévia\n  * Use: \"Apenas relembrando sua consulta já confirmada...\"\n  * Não solicite nova confirmação\n\n  ## Status de Pagamento Desconhecido\n\n  * Não mencione pagamento\n  * Foque apenas na confirmação de presença\n\n  ## Múltiplos Agendamentos\n\n  * Se detectar mais de um agendamento\n  * Especifique claramente qual consulta\n  * Use nome do paciente específico se disponível\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## LEMBRE-SE SEMPRE\n\n  * ⚠️ Esta é uma mensagem PROATIVA - seja breve e objetiva\n  * ⚠️ Foque APENAS em obter confirmação de presença\n  * ⚠️ NÃO tente resolver outros assuntos\n  * ⚠️ NÃO faça perguntas além da confirmação\n  * ⚠️ Facilite ao máximo a resposta do paciente\n\n  ## FORMATO DE SAÍDA\n\n  * Apenas a mensagem para o paciente\n  * Sem comentários adicionais\n  * Sem explicações sobre o processo\n  * Direto e objetivo\n\n  ## VERIFICAÇÕES IMPORTANTES\n\n  * A data está formatada de forma clara?\n  * O nome do profissional está correto?\n  * A solicitação de confirmação está explícita?\n  * A mensagem tem no máximo 6 linhas?\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n</informacoes-sistema>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -4864,
        -736
      ],
      "id": "20ad8a72-391b-48a2-bd19-5634de44e485",
      "name": "Agente de Lembretes de Agendamento",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ac21a86-d749-4b9b-b6bb-7098e24a73e3",
              "name": "telefone",
              "value": "={{ $json.description.match(/(\\+55)?\\d{10,11}/)?.first() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5488,
        -672
      ],
      "id": "74f96531-ee80-42d0-a355-df21755e9c2b",
      "name": "Extrair informações"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9bbcbfe7-f1e3-4404-af0c-021ce6116cd8",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5296,
        -672
      ],
      "id": "10d12e7a-7384-445a-8bfe-dfaaa040abc9",
      "name": "Telefone encontrado?"
    },
    {
      "parameters": {
        "errorMessage": "Telefone não encontrado no agendamento."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5088,
        -592
      ],
      "id": "1baaf12d-3d74-4f44-9b59-cef5273a518c",
      "name": "Agendamento sem telefone"
    },
    {
      "parameters": {
        "content": "## Buscar eventos com lembretes pendentes",
        "height": 336,
        "width": 1248,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6832,
        -800
      ],
      "id": "1c828c2d-da73-45d7-abaa-9125d01001a4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Buscar contato no Chatwoot",
        "height": 336,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5568,
        -800
      ],
      "id": "45d774de-7695-4dbe-948b-80fbab419128",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Criar e enviar lembrete",
        "height": 336,
        "width": 1264,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4912,
        -800
      ],
      "id": "3ad2dbb9-d120-4f6b-b99a-54aafcb58299",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W8sQLUkaWCQa5ENU",
          "mode": "list",
          "cachedResultUrl": "/workflow/W8sQLUkaWCQa5ENU",
          "cachedResultName": "10. Buscar ou criar contato + conversa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Extrair informações').item.json.telefone }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_inbox": "={{ $('Info').item.json.id_inbox }}",
            "api_key": "={{ $('Info').item.json.api_key }}",
            "location_id": "={{ $('Info').item.json.location_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_inbox",
              "displayName": "id_inbox",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "api_key",
              "displayName": "api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5088,
        -736
      ],
      "id": "84810684-95c4-4121-a228-a90267cc560e",
      "name": "Buscar ou criar contato"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Configurar node \"Info\"\n- [ ] \"Buscar ou criar contato\" -> Workflow 10\n- [ ] Abrir nodes para selecionar credenciais",
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6336,
        -432
      ],
      "id": "035b3175-858d-4aba-99dd-801da208ae11",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -4656,
        -576
      ],
      "id": "2946799e-1b98-4a2a-9586-67069d9ad9c6",
      "name": "Refletir"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "whatsapp",
                    "rightValue": "={{ $('Info').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "352c182d-185b-4c4f-a3f3-75d44c4677a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "instagram",
                    "rightValue": "={{ $('Info').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4320,
        -736
      ],
      "id": "3d2ddaf5-3320-4fde-b589-48f49f5bb5bc",
      "name": "Canal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Edit Fields').item.json.contactId }}\",\n  \"attachments\": [\"{{ $json.url }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4096,
        -640
      ],
      "id": "07b0534c-acea-4ccc-a675-625f9c92632b",
      "name": "Instagram1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Edit Fields').item.json.contactId }}\",\n  \"message\": \"Modo de teste habilitado.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4096,
        -800
      ],
      "id": "db3588ab-47b1-46c5-8d8c-329ef3f1f169",
      "name": "Whatsapp1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "PATCH",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Edit Fields').item.json.contactId }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tags",
              "value": "=lembrete_enviado"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Marcar lembrete enviado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -3856,
        -656
      ],
      "id": "cefdc198-6b8b-42a0-9abe-e58ac4dc943d"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "output"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -4512,
        -736
      ],
      "id": "3465ea57-c4f1-4c75-91ac-698c6db1c349",
      "name": "Execution Data"
    }
  ],
  "pinData": {
    "Extrair informações1": [
      {
        "json": {
          "telefone": "lead quer entender melhor o negocio"
        }
      }
    ]
  },
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Buscar contato (sem 9)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato existe?": {
      "main": [
        [
          {
            "node": "Buscar ou criar contato1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendamento sem telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato (sem 9)": {
      "main": [
        [
          {
            "node": "Buscar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato": {
      "main": [
        [
          {
            "node": "ID Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Contato": {
      "main": [
        [
          {
            "node": "Algum lembrete pendente?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eventos com lembrete pendente1": {
      "main": [
        [
          {
            "node": "Extrair informações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algum lembrete pendente?1": {
      "main": [
        [
          {
            "node": "Eventos com lembrete pendente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair informações1": {
      "main": [
        [
          {
            "node": "Contato existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Lembretes de Agendamento1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria1": {
      "ai_memory": [
        [
          {
            "node": "Agente de Lembretes de Agendamento1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Lembretes de Agendamento1": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar ou criar contato1": {
      "main": [
        [
          {
            "node": "Agente de Lembretes de Agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir1": {
      "ai_tool": [
        [
          {
            "node": "Agente de Lembretes de Agendamento1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Canal1": {
      "main": [
        [
          {
            "node": "Whatsapp2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Marcar lembrete enviado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp2": {
      "main": [
        [
          {
            "node": "Marcar lembrete enviado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data1": {
      "main": [
        [
          {
            "node": "Canal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info1": {
      "main": [
        [
          {
            "node": "Split1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar eventos": {
      "main": [
        [
          {
            "node": "Algum lembrete pendente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Buscar eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eventos com lembrete pendente": {
      "main": [
        [
          {
            "node": "Extrair informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algum lembrete pendente?": {
      "main": [
        [
          {
            "node": "Eventos com lembrete pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Lembretes de Agendamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente de Lembretes de Agendamento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Lembretes de Agendamento": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair informações": {
      "main": [
        [
          {
            "node": "Telefone encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telefone encontrado?": {
      "main": [
        [
          {
            "node": "Buscar ou criar contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendamento sem telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar ou criar contato": {
      "main": [
        [
          {
            "node": "Agente de Lembretes de Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente de Lembretes de Agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Canal": {
      "main": [
        [
          {
            "node": "Whatsapp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram1": {
      "main": [
        [
          {
            "node": "Marcar lembrete enviado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp1": {
      "main": [
        [
          {
            "node": "Marcar lembrete enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f531af5b-7a6c-4b92-a86c-83e3c5586b9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "wJL6Ak7CzVbB7jrE",
  "tags": []
}