13. Agente de Recuperação de Leads (1).json
{
  "name": "13. Agente de Recuperação de Leads",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        1264
      ],
      "id": "71884085-6475-4841-b936-d03a3b2b4acc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "aguardando_followup",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        1264
      ],
      "id": "a79d1424-d9e2-4687-abce-91e70281a939",
      "name": "Buscar aguardando follow-up",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "aguardando_followup": false,
            "id": "={{ $('Buscar aguardando follow-up').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        1360
      ],
      "id": "58a91db5-b32a-4ed9-9386-a12f5e11bb8d",
      "name": "Desligar follow-up",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Buscar aguardando follow-up').item.json.id }}",
            "numero_followup": "={{ $('Buscar aguardando follow-up').item.json.numero_followup + 1 }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2896,
        1296
      ],
      "id": "294859f7-c8ee-4463-be0b-31acbc88052b",
      "name": "Atualizar contagem follow-up",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "aguardando_followup": false,
            "id": "={{ $('Buscar aguardando follow-up').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        1920
      ],
      "id": "5876425c-98c3-4326-87d3-6ed04b2bc12f",
      "name": "Desligar follow-up1",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a2aa80c-29ec-4add-b546-6f76914e3451",
              "leftValue": "={{ $('Buscar aguardando follow-up').item.json.numero_followup }}",
              "rightValue": "={{ $('Info').item.json.max_followups }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "0fdccf13-e1d1-472d-8e93-846fbab49096",
              "leftValue": "={{ $json.conversa.last_non_activity_message.created_at.toDateTime('s') }}",
              "rightValue": "={{ $now.minus(24, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        1920
      ],
      "id": "5fdb1941-808b-42e9-a85a-a3b187858d74",
      "name": "Follow-ups excedidos"
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        1184
      ],
      "typeVersion": 1,
      "id": "3f3145b0-2e30-4eb4-85ed-ddeb9fbe18a4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "=1",
              "type": "string"
            },
            {
              "id": "6e8c2d3c-bec5-4ee0-8524-a2ddb787de21",
              "name": "id_inbox",
              "value": "1",
              "type": "string"
            },
            {
              "id": "8e93a9fc-5b1c-43ca-8534-86a7db7f64de",
              "name": "max_followups",
              "value": "3",
              "type": "string"
            },
            {
              "id": "720d6a5c-27ab-4763-9866-5d35ae9a5d3c",
              "name": "follow_ups_horas",
              "value": "[6, 24, 48]",
              "type": "array"
            },
            {
              "id": "2927ec04-1252-4b67-97b3-10a6f678228b",
              "name": "tipo_follow_ups",
              "value": "['mensagem', 'ligacao', 'ligacao_whatsapp']",
              "type": "array"
            },
            {
              "id": "280c843d-3974-42eb-9ab3-07475c2d0b64",
              "name": "url_webhook_ligacoes_whatsapp",
              "value": "https://cliente-a1.mentorfy.io/webhook/fdfe423b-515b-4b61-bd1b-8320f02dff7c",
              "type": "string"
            },
            {
              "id": "d3dd466a-2645-47aa-b8f3-6b5f14fd429b",
              "name": "url_webhook_ligacoes",
              "value": "https://cliente-a1.mentorfy.io/webhook/f8d15945-e07a-4ee2-be35-1b20202152bc",
              "type": "string"
            },
            {
              "id": "e9a44b2f-8622-479a-a281-021e0c6cc8fb",
              "name": "telefone",
              "value": "+15304186779",
              "type": "string"
            },
            {
              "id": "4b9e8c7c-be98-4389-a968-14b3d452d52f",
              "name": "telefone_whatsapp",
              "value": "+5511936180422",
              "type": "string"
            },
            {
              "id": "90a3a626-4b94-4019-902b-16da1a2e7797",
              "name": "api_key",
              "value": "pit-fe627027-b9cb-4ea3-aaa4-149459e66a03",
              "type": "string"
            },
            {
              "id": "35c56f6d-c907-4883-b3aa-fcc2b81a1165",
              "name": "location_id",
              "value": "cd1uyzpJox6XPt4Vct8Y",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1264
      ],
      "id": "8b584e5d-04c6-4186-9669-f77e36332a38",
      "name": "Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Buscar contato').item.json.conversa.id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $('Buscar contato').item.json.conversa.labels.append('agente-off').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        1920
      ],
      "id": "533bdaf5-9e66-42d5-a3e1-9a8a57e89efc",
      "name": "Desligar agente",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        880
      ],
      "id": "c8ff162a-b3d1-48d0-8041-146a85761dde",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "T8fdozITjWZLw425",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.conversa.contacts[0].phone }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1952,
        880
      ],
      "id": "0a7e8efe-482a-4699-a757-dae10be98658",
      "name": "Memoria",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<lead não respondeu após período estendido de tempo>",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual da Clínica Moreira, responsável por reengajar pacientes que não concluíram o processo de agendamento via WhatsApp. Sua função é enviar uma única mensagem de follow-up cordial e estratégica para recuperar o interesse do paciente.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Sutil e não invasiva**: Evite parecer insistente ou desesperada\n  * **Empática e compreensiva**: Reconheça que pessoas têm rotinas corridas\n  * **Prestativa**: Ofereça facilitar o processo abandonado\n  * **Profissional e respeitosa**: Aceite graciosamente se não houver interesse\n  * **Estratégica**: Adapte a abordagem ao ponto onde a conversa parou\n</personalidade>\n\n# CONTEXTO DA TAREFA\n\n<contexto>\n  Um paciente iniciou conversa com a clínica mas parou de responder em algum ponto do processo. Após período de inatividade, o sistema solicita uma tentativa de recuperação. Você deve:\n\n  1. Identificar em qual estágio a conversa parou\n  2. Criar mensagem apropriada ao contexto\n  3. Facilitar a retomada do processo\n  4. Respeitar o espaço do paciente\n</contexto>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. ANÁLISE DO PONTO DE ABANDONO\n\n<analise-abandono>\n  ### 1.1 Identificação do Estágio\n\n  Analise o histórico para determinar onde parou:\n\n  * **ESTÁGIO INICIAL**: Apenas cumprimentou ou fez pergunta inicial\n  * **COLETA DE DADOS**: Forneceu nome mas não data de nascimento\n  * **ESCOLHA PROFISSIONAL**: Não escolheu especialidade/profissional\n  * **SELEÇÃO DE DATA**: Não definiu quando quer agendar\n  * **ESCOLHA DE HORÁRIO**: Recebeu opções mas não escolheu\n  * **PRÉ-CONFIRMAÇÃO**: Faltou confirmar dados finais\n  * **PÓS-AGENDAMENTO**: Agendou mas não forneceu CPF para cobrança\n  * **DÚVIDA NÃO ESCLARECIDA**: Fez pergunta que ficou sem resposta completa\n\n  ### 1.2 Tempo Decorrido\n\n  Considere o tempo desde a última interação:\n  * Menos de 24h: Tom mais casual\n  * 24-48h: Tom padrão de follow-up\n  * Mais de 48h: Tom mais formal de recontato\n\n  ### 1.3 Contexto da Última Mensagem\n\n  * Paciente fez pergunta? Responda primeiro\n  * Você fez pergunta? Facilite a resposta\n  * Conversa travou? Ofereça recomeçar\n</analise-abandono>\n\n## 2. ESTRATÉGIAS POR ESTÁGIO\n\n<estrategias>\n  ### 2.1 Estágio Inicial\n\n  **Abordagem**: Reapresentação suave\n  ```\n  \"Oi! Aqui é a Maria da Clínica Moreira. \n  Vi que você entrou em contato conosco mais cedo.\n  Ainda posso ajudar com alguma informação ou agendamento?\"\n  ```\n\n  ### 2.2 Coleta de Dados Incompleta\n\n  **Abordagem**: Retomar de onde parou\n  ```\n  \"Olá, [Nome]! Voltando ao nosso atendimento...\n  Para prosseguir com seu agendamento, \n  preciso apenas da sua data de nascimento. Pode me informar?\"\n  ```\n\n  ### 2.3 Escolha Profissional Pendente\n\n  **Abordagem**: Simplificar decisão\n  ```\n  \"Oi, [Nome]! Sobre seu agendamento...\n  Qual especialidade você precisa?\n  Temos Clínico Geral, Cardiologista e Dentista disponíveis.\"\n  ```\n\n  ### 2.4 Data não Definida\n\n  **Abordagem**: Oferecer sugestões\n  ```\n  \"Olá, [Nome]! Consultei a agenda do [Profissional].\n  Temos bons horários disponíveis esta semana.\n  Quando seria melhor para você?\"\n  ```\n\n  ### 2.5 Horário não Escolhido\n\n  **Abordagem**: Reenviar opções simplificadas\n  ```\n  \"Oi, [Nome]! Ainda temos aqueles horários disponíveis:\n  - [Opção 1]\n  - [Opção 2]\n  Algum deles funciona para você?\"\n  ```\n\n  ### 2.6 Pós-Agendamento (Falta CPF)\n\n  **Abordagem**: Lembrete gentil\n  ```\n  \"Olá, [Nome]! Sua consulta está agendada para [data/hora].\n  Só preciso do seu CPF para finalizar e gerar o boleto.\n  Pode me passar quando puder?\"\n  ```\n\n  ### 2.7 Dúvida não Esclarecida\n\n  **Abordagem**: Retomar e esclarecer\n  ```\n  \"Oi! Sobre sua pergunta anterior...\n  [Resposta à dúvida]\n  Posso ajudar com mais alguma coisa?\"\n  ```\n</estrategias>\n\n## 3. ELEMENTOS DA MENSAGEM\n\n<elementos-mensagem>\n  ### 3.1 Estrutura Base\n\n  ```\n  RECONEXÃO SUAVE\n  ↓\n  REFERÊNCIA AO CONTEXTO ANTERIOR\n  ↓\n  FACILITAÇÃO/PROPOSTA\n  ↓\n  CALL-TO-ACTION SIMPLES\n  ```\n\n  ### 3.2 Componentes Essenciais\n\n  * Identificação (se primeira recuperação)\n  * Referência ao assunto anterior\n  * Proposta de continuidade\n  * Pergunta aberta ou fechada (conforme contexto)\n\n  ### 3.3 Componentes a Evitar\n\n  * Cobranças ou críticas\n  * Menção a \"não respondeu\" ou \"sumiu\"\n  * Pressão ou urgência artificial\n  * Múltiplas perguntas\n  * Textos longos\n</elementos-mensagem>\n\n# REGRAS E VALIDAÇÕES\n\n<validacoes>\n  ## Regras Críticas\n\n  1. **Limites Absolutos**\n    * APENAS UMA mensagem de recuperação\n    * MÁXIMO 4 linhas de texto\n    * NUNCA mencionar o abandono explicitamente\n    * NUNCA usar tom de cobrança\n\n  2. **Abordagem por Tempo**\n    * <24h: \"Voltando ao nosso assunto...\"\n    * 24-48h: \"Oi! Sobre nosso contato anterior...\"\n    * >48h: \"Olá! Aqui é a Maria da Clínica Moreira...\"\n\n  3. **Decisões Estratégicas**\n    * Se muito vago o histórico: Ofereça ajuda genérica\n    * Se muito avançado: Seja mais específica\n    * Se houve problema técnico: Ofereça recomeçar\n</validacoes>\n\n# EXEMPLOS DE MENSAGENS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Abandono Inicial (só disse \"oi\")\n\n  ```\n  Oi! Aqui é a Maria da Clínica Moreira.\n  Vi que você entrou em contato conosco.\n  Precisa agendar uma consulta ou tirar alguma dúvida?\n  ```\n\n  ## Exemplo 2: Parou no Meio do Agendamento\n\n  ```\n  Olá, João! Voltando ao seu agendamento...\n  O Dr. Roberto tem horários na quinta às 9h ou sexta às 10h30.\n  Qual prefere?\n  ```\n\n  ## Exemplo 3: Não Forneceu CPF Após Agendar\n\n  ```\n  Oi, Maria! Sua consulta está confirmada para amanhã às 14h.\n  Quando puder, me passe seu CPF para gerar o boleto.\n  Sem pressa! 😊\n  ```\n\n  ## Exemplo 4: Fez Pergunta Sobre Valor\n  \n  ```\n  Olá! Sobre os valores que você perguntou:\n  A consulta é R$ 500, aceitamos cartão, PIX ou dinheiro.\n  Gostaria de agendar?\n  ```\n\n  ## Exemplo 5: Muito Tempo Sem Resposta (>48h)\n\n  ```\n  Olá! Maria da Clínica Moreira aqui.\n  Caso ainda precise de uma consulta, estou à disposição.\n  É só me avisar!\n  ```\n\n  ## Exemplo 6: Cliente Parecia Indeciso\n\n  ```\n  Oi! Se quiser pensar melhor sobre o agendamento, sem problemas.\n  Quando decidir, é só me chamar por aqui mesmo.\n  ```\n</exemplos>\n\n# CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Conversa Confusa ou Incompleta\n\n  * Ofereça recomeçar do zero\n  * Não tente recuperar informações confusas\n  * Use: \"Podemos recomeçar seu atendimento?\"\n\n  ## Múltiplos Abandonos no Histórico\n\n  * Esta pode ser 2ª ou 3ª tentativa\n  * Seja ainda mais breve e menos invasiva\n  * Considere: \"Última vez: ainda precisa da consulta?\"\n\n  ## Abandono Após Problema Técnico\n\n  * Reconheça possível frustração\n  * Ofereça caminho alternativo\n  * \"Desculpe se houve algum problema. Posso tentar de novo?\"\n\n  ## Cliente Demonstrou Urgência Antes\n\n  * Relembre disponibilidade imediata\n  * \"Posso verificar pra você o horário mais próximo disponível!\"\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## LEMBRE-SE SEMPRE\n\n  * ⚠️ Esta é a ÚNICA tentativa - seja estratégica\n  * ⚠️ NUNCA pareça desesperada ou insistente\n  * ⚠️ Máximo 4 linhas de mensagem\n  * ⚠️ Adapte ao ponto exato onde parou\n  * ⚠️ Mantenha dignidade profissional sempre\n\n  ## FORMATO DE SAÍDA\n\n  * Apenas a mensagem de recuperação\n  * Sem comentários ou explicações\n  * Sem análise do abandono\n  * Direto ao paciente\n\n  ## VERIFICAÇÕES IMPORTANTES\n\n  * A mensagem está adequada ao tempo decorrido?\n  * Referencia o contexto anterior corretamente?\n  * Facilita a retomada do processo?\n  * Tem no máximo 4 linhas?\n  * Tom está apropriado (não invasivo)?\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n  **Número desse follow-up**: {{ $('Buscar aguardando follow-up').item.json.numero_followup + 1 }}\n</informacoes-sistema>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1856,
        704
      ],
      "id": "c070881d-e861-4da9-9bba-81dedb3624ca",
      "name": "Agente de Recuperação de Leads",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62c1d07f-f45e-4d57-916c-ab76e4693a73",
              "leftValue": "={{ $('Buscar contato').item.json.conversa.messages.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "41195048-d958-4326-a989-20931b4316a0",
              "leftValue": "={{ $('Buscar contato').item.json.conversa.labels }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "f0eb2c77-0c21-4677-bec2-484ebf5c8424",
              "leftValue": "={{ $('Buscar contato').item.json.contato.custom_attributes.asaas_status_cobranca }}",
              "rightValue": "Cobrança recebida",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "ba00343f-6d2e-4e87-9b80-438a29d3e8dc",
              "leftValue": "=",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        1264
      ],
      "id": "cca79a78-d508-4c3c-be8d-e9e0dbd35158",
      "name": "Follow-up ativo?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c5ff61e-c9da-4789-9de6-648ab9cd9e38",
              "leftValue": "={{ $json.conversa.last_non_activity_message.created_at.toDateTime('s') }}",
              "rightValue": "={{ $now.minus($('Info').item.json.follow_ups_horas[$('Buscar aguardando follow-up').item.json.numero_followup] || 24, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "fdd2432e-6dbd-4581-952b-6775af20615b",
              "leftValue": "={{ $('Buscar aguardando follow-up').item.json.numero_followup }}",
              "rightValue": "={{ $('Info').item.json.max_followups }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        1168
      ],
      "id": "63cabe0d-39d4-432b-a52f-a0a164f5d69f",
      "name": "Follow-up pendente?"
    },
    {
      "parameters": {
        "content": "## Atenção!!\n\nSó é possível fazer no máximo 5 chamadas pelo WhatsApp para um mesmo contato em um período de 24h.",
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        992
      ],
      "typeVersion": 1,
      "id": "7533de1f-87d6-4440-89fd-e84b45297630",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "errorMessage": "=Tipo follow-up configurado incorretamente. Use um desses valores:\n\n\"mensagem\"\n\"ligacao_whatsapp\"\n\"ligacao\""
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1456,
        1328
      ],
      "id": "8905124e-0910-489b-90d6-70fab7a91265",
      "name": "Tipo de follow-up inválido"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "035a87e0-926f-4279-907d-3d749181c329",
              "leftValue": "={{ $('Buscar contato').item.json.contato.custom_attributes.permitir_chamadas_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        1184
      ],
      "id": "48b98e76-efd6-4168-a972-adbf12d26af7",
      "name": "Contato já permitiu ligações?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $json.sid_conta }}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ContentSid",
              "value": "={{ $json.sid_template_ligacao }}"
            },
            {
              "name": "From",
              "value": "=whatsapp:{{ $('Info').item.json.telefone_whatsapp }}"
            },
            {
              "name": "To",
              "value": "=whatsapp:{{ $('Buscar contato').item.json.contato.phone_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2304,
        1280
      ],
      "id": "dfc20b94-8d51-4833-a496-b532d1e3e1af",
      "name": "Enviar template de ligação",
      "credentials": {
        "twilioApi": {
          "id": "pauvhliYHlGqkTOY",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://content.twilio.com/v1/Content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        1280
      ],
      "id": "2a50b77a-ac00-4884-8ac6-ea2416962d74",
      "name": "Buscar template de ligações",
      "credentials": {
        "twilioApi": {
          "id": "pauvhliYHlGqkTOY",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eca4b1bd-7ac2-49c8-86a0-16b3e7035306",
              "name": "sid_template_ligacao",
              "value": "={{ $('Buscar template de ligações').item.json.contents.find(c => c.friendly_name === 'voice_call_request')?.sid }}",
              "type": "string"
            },
            {
              "id": "cb44c343-9dda-4f22-ac45-eb533c4d97d3",
              "name": "sid_conta",
              "value": "={{ $('Buscar template de ligações').item.json.contents.find(c => c.friendly_name === 'voice_call_request')?.account_sid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        1280
      ],
      "id": "3495060c-dabd-4731-8a54-1711f0f5de95",
      "name": "Extrair template de ligações"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $json.accounts.first().sid }}/Calls.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Url",
              "value": "={{ $('Info').item.json.url_webhook_ligacoes_whatsapp }}"
            },
            {
              "name": "From",
              "value": "=whatsapp:{{ $('Info').item.json.telefone_whatsapp }}"
            },
            {
              "name": "To",
              "value": "=whatsapp:{{ $('Buscar contato').item.json.contato.phone_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        1120
      ],
      "id": "9aa485cb-7dec-4de2-a57a-4b83460a98ee",
      "name": "Fazer ligação WhatsApp",
      "credentials": {
        "twilioApi": {
          "id": "pauvhliYHlGqkTOY",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $json.accounts.first().sid }}/Calls.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Url",
              "value": "={{ $('Info').item.json.url_webhook_ligacoes }}"
            },
            {
              "name": "From",
              "value": "={{ $('Info').item.json.telefone }}"
            },
            {
              "name": "To",
              "value": "={{ $('Buscar contato').item.json.contato.phone_number.replace(/(\\+55\\d{2})9?(\\d{8})/,'$19$2') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        1568
      ],
      "id": "d1183ba8-4aae-4b0e-8b56-12bdf5696705",
      "name": "Fazer ligação",
      "credentials": {
        "twilioApi": {
          "id": "pauvhliYHlGqkTOY",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W8sQLUkaWCQa5ENU",
          "mode": "list",
          "cachedResultUrl": "/workflow/W8sQLUkaWCQa5ENU",
          "cachedResultName": "10. Buscar ou criar contato + conversa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $json.session_id }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_inbox": "={{ $('Info').item.json.id_inbox }}",
            "api_key": "={{ $('Info').item.json.api_key }}",
            "location_id": "={{ $('Info').item.json.location_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_inbox",
              "displayName": "id_inbox",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "api_key",
              "displayName": "api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        1264
      ],
      "id": "cf70b8aa-e3c7-428c-96d2-c942d54a728f",
      "name": "Buscar contato"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Configurar node \"Info\"\n- [ ] Atenção aos tipos de follow-up. Os valores devem ser exatamente um desses: `mensagem`, `ligacao_whatsapp`, `ligacao`\n- [ ] Configurar com os mesmos telefones do Workflow 05, Gestão de ligações\n- [ ] \"Buscar contato\" -> Workflow 09\n- [ ] Abrir nodes para selecionar credenciais",
        "height": 224,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        1456
      ],
      "id": "ca53574c-e7f0-43ce-b1f0-bba89ff2c31b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Buscar follow-ups pendentes\n",
        "height": 384,
        "width": 1296,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        1120
      ],
      "id": "c29cc374-7a51-4822-bdc1-9df32a8c50dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        1568
      ],
      "id": "11290cd8-b0a9-4f7c-99ec-1933d9fac5eb",
      "name": "Buscar contas Twilio1",
      "credentials": {
        "twilioApi": {
          "id": "pauvhliYHlGqkTOY",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        1120
      ],
      "id": "71a241ec-3e95-4163-9331-b9634dcd236e",
      "name": "Buscar contas Twilio",
      "credentials": {
        "twilioApi": {
          "id": "pauvhliYHlGqkTOY",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Follow-ups excedidos",
        "height": 256,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1648,
        1840
      ],
      "id": "d592f110-de92-425e-9b03-5ac2d9e37e64",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Ligação de telefone",
        "height": 240,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        1488
      ],
      "typeVersion": 1,
      "id": "4315af3a-8186-47ad-893b-8f11fac96fd6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Ligação WhatsApp",
        "height": 432,
        "width": 848,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        1040
      ],
      "typeVersion": 1,
      "id": "25b793c4-0ece-4678-93be-62ab8b0b07a7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Mensagem no WhatsApp",
        "height": 432,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        592
      ],
      "typeVersion": 1,
      "id": "4da670c2-024b-4221-84df-1759f42da354",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.tipo_follow_ups[$('Buscar aguardando follow-up').item.json.numero_followup] }}",
                    "rightValue": "mensagem",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a97a30a9-aa9d-412e-88c3-694daa3ab4dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1295de3b-f99d-4c5d-a730-614582b04391",
                    "leftValue": "={{ $('Info').item.json.tipo_follow_ups[$('Buscar aguardando follow-up').item.json.numero_followup] }}",
                    "rightValue": "ligacao_whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ligação WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5ed48045-58a9-4bb8-933f-14a2cda62c8f",
                    "leftValue": "={{ $('Info').item.json.tipo_follow_ups[$('Buscar aguardando follow-up').item.json.numero_followup] }}",
                    "rightValue": "ligacao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ligação"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1456,
        1024
      ],
      "id": "b4a51b86-d579-488b-a072-485eee36b312",
      "name": "Tipo de follow-up"
    },
    {
      "parameters": {
        "content": "## Sobre follow-ups excedidos\n\nApós realizar todas as tentativas de follow-up, caso o lead não responda depois de 24h, nós marcamos ele como \"follow-up desligado\".\n\nOpcionalmente, é possível habilitar o node \"Desligar agente\" para colocar a etiqueta \"agente-off\" na conversa, para sinalizar que o lead esfriou.\n\nComo isso irá fará com que a Secretária v3 não responda o lead caso ele responda depois de 24h, outras alternativas que você pode considerar:\n\n- Usar outra label diferente de \"agente-off\" (ex. \"lead-frio\")\n- Resolver a conversa no Chatwoot, para que caso o lead responda, seja aberta uma nova conversa",
        "height": 400,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        2064
      ],
      "id": "cb038b14-f59d-4305-b056-f9063e4759b9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n \"contactId\": \"{{ $('Tipo de follow-up').item.json.conversa.contacts[0].id }}\",\n  \"message\": \"{{ $('Agente de Recuperação de Leads').item.json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        704
      ],
      "id": "73234c3c-fc4c-4b46-a608-67440edddb1f",
      "name": "Whatsapp2",
      "retryOnFail": true
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-11-10T23:35:39.004-03:00",
          "Readable date": "November 10th 2025, 11:35:39 pm",
          "Readable time": "11:35:39 pm",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "10",
          "Hour": "23",
          "Minute": "35",
          "Second": "39",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar aguardando follow-up": {
      "main": [
        [
          {
            "node": "Buscar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desligar follow-up1": {
      "main": [
        [
          {
            "node": "Desligar agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-ups excedidos": {
      "main": [
        [
          {
            "node": "Desligar follow-up1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Buscar aguardando follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Recuperação de Leads",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente de Recuperação de Leads",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Recuperação de Leads": {
      "main": [
        [
          {
            "node": "Whatsapp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up ativo?": {
      "main": [
        [
          {
            "node": "Follow-up pendente?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Desligar follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up pendente?": {
      "main": [
        [
          {
            "node": "Tipo de follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow-ups excedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato já permitiu ligações?": {
      "main": [
        [
          {
            "node": "Buscar contas Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar template de ligações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar template de ligações": {
      "main": [
        [
          {
            "node": "Extrair template de ligações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair template de ligações": {
      "main": [
        [
          {
            "node": "Enviar template de ligação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fazer ligação WhatsApp": {
      "main": [
        [
          {
            "node": "Atualizar contagem follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fazer ligação": {
      "main": [
        [
          {
            "node": "Atualizar contagem follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato": {
      "main": [
        [
          {
            "node": "Follow-up ativo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contas Twilio1": {
      "main": [
        [
          {
            "node": "Fazer ligação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contas Twilio": {
      "main": [
        [
          {
            "node": "Fazer ligação WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de follow-up": {
      "main": [
        [
          {
            "node": "Agente de Recuperação de Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contato já permitiu ligações?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar contas Twilio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tipo de follow-up inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp2": {
      "main": [
        [
          {
            "node": "Atualizar contagem follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb0428e5-a6f1-486f-8b59-33c9b0205b24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "drhusp7otT3Hr5SY",
  "tags": []
}